{% extends "layout.html" %}

{% block title %}
: Add word
{% endblock %}

{% block main %}



<div class="content-section">
    <!-- insert novalidate as attribute if you only want to user server side validation-->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form id="addForm" method="POST" action="{{ url_for('admin_blueprint.add_word') }}" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend>Add a word</legend>
                        <div class="form-group">
                            {{ form.word(class="form-control", autocomplete="off", autofocus=true, placeholder="Word") }}
                        </div>
                        <div class="form-group">
                            {{ form.cue(class="form-control", autocomplete="off", placeholder="Cue") }}
                        </div>
                        <div class="form-group">
                            {{ form.image(class="form-control", autocomplete="off", placeholder="Image file name") }}
                        </div>

                        <div class="form-group">
                            {{ form.add(class="btn btn-primary btn-outline-info") }}
                            {{ form.cancel(class="btn btn-primary btn-outline-info") }}
                        </div>
                    </fieldset>

                    {% if ("homonyms" in session) %}
                    {% set homonyms = session.homonyms %}
                    <p>There is one or more words in the database spelled this way:</p>
                    {% for row in homonyms %}
                    <li>{{row.word}}: "{{ row.cue }}" ({{row.image.name}})</li>
                    {% endfor %}
                    <p>Add a new word?</p>
                    <div class="form-group">
                        {{ form.addAnyway(class="btn btn-primary btn-outline-info") }}
                    </div>
                    {% endif %}
                </form>

            </div>

            <div class="col-6">
                <form id="pairForm" method="POST" action="{{ url_for('admin_blueprint.add_pairs') }}" novalidate>
                    {{ form.hidden_tag() }}


                    <fieldset>
                        <legend for="pairs">Find all matching words:</legend>
                        {{ pairForm.pairs(class="chosen-select") }}
                        {{ pairForm.definePairs(class="btn btn-primary btn-outline-info") }}
                    </fieldset>

                    {% if pairForm.pairSounds.data %}
                    {% for field in pairForm.pairSounds %}
                    {{ field.label }}
                    {{ field(class_="pairSoundTable") }}
                    {% endfor %}
                    {{ pairForm.addSounds(class="btn btn-primary btn-outline-info") }}
                    {% endif %}
                </form>
            </div>
        </div>
        <!-- end of container-->
    </div>
</div>
<!--end of row-->

<script>
    $(document).ready(function () {
        $(".chosen-select").chosen();
    });
</script>

{% endblock %}