{% extends "layout.html" %}
{% from 'macros.html' import ipa_picker %}
{% from 'admin_macros.html' import show_input_file_name, enable_chosenjs, chosenjs_filtering %}

{% block title %}
: Add word
{% endblock %}

{% block main %}



<div class="content-section">

    <!-- insert novalidate as attribute if you only want to user server side validation-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <form id="addForm" method="POST" action="{{ url_for('admin_blueprint.add_word') }}"
                    enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend>Add a word</legend>
                        <div class="form-group">
                            {{ form.word(class="form-control", autocomplete="off", autofocus=true, placeholder="Word")
                            }}
                        </div>
                        <div class="form-group">
                            {{ form.cue(class="form-control", autocomplete="off", placeholder="Cue") }}
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                {{ form.image(class="form-control", autocomplete="off", placeholder="Image file name")
                                }}
                                <label class="custom-file-label file-label-name add-file-label"
                                    for="image">Image</label>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.add(class="btn btn-primary btn-outline-info") }}
                            {{ form.cancel(class="btn btn-primary btn-outline-info") }}
                        </div>
                    </fieldset>

                    {% if ("homonyms" in session) %}
                    {% set homonyms = session.homonyms %}
                    <p>There is one or more words in the database spelled this way:</p>
                    {% for row in homonyms %}
                    <li>{{row.word}}: "{{ row.cue }}" ({{row.image.name}})</li>
                    {% endfor %}
                    <p>Add a new word?</p>
                    <div class="form-group">
                        {{ form.addAnyway(class="btn btn-primary btn-outline-info") }}
                    </div>
                    {% endif %}
                </form>

            </div>

            <div class="col-6">
                <form id="pairForm" method="POST" action="{{ url_for('admin_blueprint.add_pairs') }}" novalidate>
                    {{ form.hidden_tag() }}


                    <fieldset>
                        <legend for="pairs">Find all matching words:</legend>
                        {{ pairForm.word1(class="chosen-select") }}
                        {{ pairForm.pairs(class="chosen-select") }}
                        {{ pairForm.definePairs(class="btn btn-primary btn-outline-info") }}
                    </fieldset>

                    {% if pairForm.pairSounds.data %}
                    <h5 style="margin-top: 20px;">Indsæt betydningsadskillende lyde:</h5>
                    {% for field in pairForm.pairSounds %}
                    <div class="pairSoundTable">
                        <div class="row">

                            {% for subfield in field %}
                            {% if (loop.index < 3) %} <div class="col-5">

                                {% if pairForm.addSounds.data %}
                                {% if subfield.errors %}

                                {{ subfield.label }}
                                {{ subfield(class="sound_input_field", size="4", style="border: 1px solid red;") }}

                                {% endif %}
                                {% else %}

                                {{ subfield.label }}
                                {{ subfield(class="sound_input_field", size="4") }}
                                {% endif %}
                        </div>
                        {% if (loop.index == 1) %}
                        <div class="col-2 vs">
                            VS
                        </div>
                        {% endif %}

                        {% else %}
                        {{ subfield }}
                        {% endif %}
                        {% endfor %}
                    </div>
            </div>

            {% endfor %}






            {{ pairForm.addSounds(class="btn btn-primary btn-outline-info") }}
            {% endif %}
            {% if session.existingPairs %}
            <br>Words already paired with {{pairForm.pairSounds[0].sound1.label.text }}
            {% for word in session.existingPairs %}{% if loop.index != 1 %},
            {% endif %}{{ word.word }}{% endfor %}{% endif %}

            </form>
        </div>
    </div>
    <!-- end of container-->
    {{ ipa_picker() }}
</div>
</div>
<!--end of row-->

{% endblock %}

{% block script %}
{{ show_input_file_name() }}
{{ enable_chosenjs() }}
{{ chosenjs_filtering() }}
{% endblock script %}