{% extends "layout.html" %}

{% block main %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <style>

        </style>
        <!-- Login Form -->
        <form method="POST" class="container" action="{{ url_for('user_blueprint.adminLogin') }}" novalidate>
            {{ form.hidden_tag() }}
            <div class="row justify-content-center mt-2">
                <div class="col-12 col-sm-5">

                    {% if form.username.errors %}
                    {{ form.username(placeholder="trip", class="form-control fadeIn second is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(placeholder="trip", class="form-control fadeIn second") }}
                    {% endif %}
                </div>

                <div class="col-12 col-sm-5">

                    {% if form.password.errors %}
                    {{ form.password(placeholder="trap", class="form-control fadeIn second is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(placeholder="trap", class="form-control fadeIn second") }}
                    {% endif %}
                </div>

                <div class="col-12 col-sm-5 d-flex justify-content-center mt-2">

                    <input type="submit" action="{{ url_for('user_blueprint.adminLogin') }}" class="fadeIn fourth"
                        value="træsko">
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}