{% extends "layout.html" %}

{% block title %}
: Change word
{% endblock %}

{% block main %}

<!-- Popup form-->
<div class="popup-form-wrapper" id="myForm">
    <form name="myform" class="popup-form" method="POST" enctype="multipart/form-data"
        action="{{ url_for('admin_blueprint.change') }}">
        <h1 id="formtitle"></h1>

        <input type="hidden" id="custId" name="newwordid" value="">

        <label for="newword"><b>Change spelling</b></label>
        <input type="text" placeholder="jinjaoldword" name="newword">

        <label for="newcue"><b>Change cue</b></label>
        <input type="text" placeholder="jinjaoldcue" name="newcue">

        <label for="image"><b>Change image</b></label>
        <input autocomplete="off" id="image" name="newimg" required="" type="file">
        <label class="change-file-label file-label-name" for="image"></label>

        <button type="button" class="btn save" onclick="sendChanges()">Save</button>
        <button type="button" class="btn delete" onclick="requestDelete()">Delete</button>
        <button id="closeButton" type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>

<!-- DataTable with words-->
<div class="container mb-3 mt-3" style="text-align: left !important;">
    <table id="changetable" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>Spelling</th>
                <th>Cue</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in words %}

            <tr>
                <!-- I'm using jinja to pass the id of td 0 to the function for onclick in td 3 -->
                <td id="word{{ entry.id }}">{{ entry.word }}</td>
                <td id="cue{{ entry.id }}">{{ entry.cue }}</td>
                <td id="image{{ entry.id }}">
                    {{ entry.image.name }}
                    <div><img src="{{ url_for('static', filename='images/thumbnails/thumbnail_' + entry.image.name)}}"
                            class="img-thumbnail img-mpexample" /></div>
                </td>
                <td style="text-align: center;">
                    <button class="lil-buttonon"
                        onclick="openForm(this, '{{ entry.id }}', '{{ entry.word }}', '{{ entry.cue }}', '{{ entry.image.name }}')">
                        ;(
                    </button>
                    {% set url = url_for("user_blueprint.wordinfo", word_id=entry.id) %}
                    <button class="lil-buttonon" onclick="window.location.href='{{ url }}';">
                        PP
                    </button>
                </td>
            </tr>

            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Spelling</th>
                <th>Cue</th>
                <th>Image</th>
                <th>Change</th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Initialize DataTable -->
<script>
    // Necessary imports: jquery, DataTables, DataTables plugin:
    // "Responsive" - see Layout.hmtl
    $(document).ready(function () {
        $('#changetable').DataTable();
    });
    $('#changetable').dataTable({
        "columns": [
            null,
            null,
            null,
            { "width": "17%" }
        ],
        responsive: true
    });

    // Popup form onclick generation -->

    var current_word_id;

    function openForm(element, word_id, word, cue, image) {
        document.getElementById("myForm").style.display = "block";
        $('#formtitle').html($("#word" + word_id).html());
        $('input[name ="newword"]').attr("placeholder", word);
        $('input[name ="newcue"]').attr("placeholder", cue);
        $('.file-label-name').html(image);
        $('input[name ="newwordid"]').attr("value", word_id);
        console.log(word + cue + image);

        current_word_id = word_id;

    }

    function sendChanges() {
        // Make it respond to file input instead
        console.log("image value is " + $('input[name ="newimg"]').val());
        if ($('input[name ="newimg"]').val() !== "") {
            document.myform.submit();
            console.log("resetting form")
            document.myform.reset();
            console.log(document.myform)
            closeForm();

            return
        }


        console.log("ajax call from js");
        $.ajax({
            data: {
                newword: $('input[name ="newword"]').val(),
                newcue: $('input[name ="newcue"]').val(),
                newimg: $('input[name ="newimg"]').val(),
                id: current_word_id
            },
            // ajax is the name of the view function that processes the incoming ajax call
            url: {{ url_for('admin_blueprint.ajax_change')| tojson | safe }},
    type: "POST"

        }).done(function (data) {
        /* Server check: with parents().length I check if element has any parent with this ID
        because an existing username is good (green) in Login but bad (red) in register. */

        console.log(data);
        $("#word" + current_word_id).html(data.newword);
        $("#cue" + current_word_id).html(data.newcue);
        //$("#image" + current_word_id).html(data.newimg);
    });
    document.myform.reset();
    closeForm();
    }

    function requestDelete() {
        console.log("ajax call from js");
        $.ajax({
            // sending word ID to "deletion" route
            data: {
                id: current_word_id
            },
            // url is the ajax route in views.py
            url: {{ url_for('admin_blueprint.ajax_delete')| tojson | safe }},
    type: "POST"

        }).done(function (data) {
        /* Server check: with parents().length I check if element has any parent with this ID
        because an existing username is good (green) in Login but bad (red) in register. */

        console.log(data);
        console.log(
            $("#word" + current_word_id).parent()
        )
        $("#word" + current_word_id).parent().remove();
    });
    document.myform.reset();
    closeForm();
    }


    function closeForm() {
        console.log("running closeform");

        document.getElementById("myForm").style.display = "none";
        document.myform.reset();

        // TODO/suggestion: Make an ajax call that changes objects.

    }
</script>
{% endblock %}