{% extends "layout.html" %}

{% block title %}
- Change word
{% endblock %}

{% block submeta %}
    <!-- for DataTables and Moment-->
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" rel="stylesheet" />
{% endblock %}


{% block main %}

<!-- Popup form-->
<div class="popup-form-wrapper" id="myForm">
    <form name="myform" class="popup-form" method="POST" enctype="multipart/form-data"
        action="{{ url_for('admin_blueprint.change') }}">
        <button id="closeButton" style="float: right;" type="button" class="cancel" onclick="closeForm()">Close</button>
        <h1 id="formtitle"></h1>

        <input type="hidden" id="custId" name="newwordid" value="">

        <label for="newword"><b>Change spelling</b></label>
        <input type="text" placeholder="jinjaoldword" name="newword">

        <label for="newcue"><b>Change cue</b></label>
        <input type="text" placeholder="jinjaoldcue" name="newcue">

        <label for="image"><b>Change image</b></label>
        <input autocomplete="off" id="image" name="newimg" required="" type="file">
        <label class="change-file-label file-label-name" for="image"></label>

        <label for="newartist"><b>Change artist</b></label>
        <input type="text" placeholder="jinjaoldcue" name="newartist">

        <a id="change-pair-btn" href="" class="btn btn-warning">Change pairs</a>
        <button type="button" class="btn btn-success save" onclick="sendChanges()">Save</button>
        <button type="button" class="btn btn-danger delete" onclick="requestDelete()">Delete</button>
    </form>
</div>

<!-- DataTable with words-->
<div class="container mb-3 mt-3" style="text-align: left !important;">
    <table id="changetable" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>Image</th>
                <th>Spelling</th>
                <th>Cue</th>
                <th>Artist</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in words %}

            <tr>
                <!-- I'm using jinja to pass the id of td 0 to the function for onclick in td 3 -->
                <td id="image{{ entry.id }}">
                    {{ entry.image.name }}
                    <div><img src="{{ url_for('static', filename='images/thumbnails/' + entry.image.name)}}"
                        class="img-thumbnail img-mpexample" />
                    </div>
                </td>
                <td id="word{{ entry.id }}">{{ entry.word }}</td>
                <td id="cue{{ entry.id }}">{{ entry.cue }}</td>
                <td id="artist{{ entry.id }}">{{ entry.image.artist }}</td>
                <td style="text-align: center;">
                    <button class="lil-buttonon"
                        onclick='openForm(this, {{ entry.id | tojson }}, {{ entry.word | tojson }}, {{ entry.cue | tojson }}, {{ entry.image.name | tojson }},  {{ entry.image.artist | tojson }})'>
                        <i class="fas fa-cogs"></i>
                    </button>
                    {% set url = url_for("user_blueprint.wordinfo", word_id=entry.id, locale=session.locale) %}
                    <button class="lil-buttonon" onclick="window.location.href='{{ url }}';">
                        <i class="fas fa-info-circle"></i>
                    </button>
                </td>
            </tr>

            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Image</th>
                <th>Spelling</th>
                <th>Cue</th>
                <th>Artist</th>
                <th>Change</th>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}
{% block script %}
    <!-- Initialize DataTable -->
    <script>
        // Necessary imports: jquery, DataTables, DataTables plugin:
        // "Responsive" - see Layout.hmtl
        $(document).ready(function () {
            $('#changetable').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    { "width": "17%" },
                ],
                responsive: true
            });
        });

        // Popup form onclick generation -->

        var current_word_id;

        function openForm(element, word_id, word, cue, image, artist) {
            document.getElementById("myForm").style.display = "block";
            console.log(word_id);
            $('#formtitle').html($("#word" + word_id).html());
            $('input[name ="newword"]').attr("placeholder", word);
            $('input[name ="newcue"]').attr("placeholder", cue);
            $('.file-label-name').html(image);
            $('input[name ="newwordid"]').attr("value", word_id);
            $('input[name ="newartist"]').attr("placeholder", artist);

            let change_pair_url = "{{ url_for('admin_blueprint.change_pairs', word='DUMMYVAL') }}";
            newurl = change_pair_url.replace("DUMMYVAL", word_id);
            $('#change-pair-btn').attr('href', newurl);
            console.log(word + cue + image);

            current_word_id = word_id;

        }

        function sendChanges() {
            // Make it respond to file input instead
            console.log("image value is " + $('input[name ="newimg"]').val());
            if ($('input[name ="newimg"]').val() !== "") {
                document.myform.submit();
                document.myform.reset();
                closeForm();
                return
            }


            console.log("ajax call from js");
            $.ajax({
                data: {
                    newword: $('input[name ="newword"]').val(),
                    newcue: $('input[name ="newcue"]').val(),
                    newimg: $('input[name ="newimg"]').val(),
                    newartist: $('input[name ="newartist"]').val(),
                    id: current_word_id
                },
                // ajax is the name of the view function that processes the incoming ajax call
                url: {{ url_for('admin_blueprint.ajax_change')| tojson | safe }},
        type: "POST"

            }).done(function (data) {
            /* Server check: with parents().length I check if element has any parent with this ID
            because an existing username is good (green) in Login but bad (red) in register. */

            console.log(data);
            $("#word" + current_word_id).html(data.newword);
            $("#cue" + current_word_id).html(data.newcue);
            $("#artist" + current_word_id).html(data.newartist);
            //$("#image" + current_word_id).html(data.newimg);
        });
        document.myform.reset();
        closeForm();
        }

        function requestDelete() {
            console.log("ajax call from js");
            $.ajax({
                // sending word ID to "deletion" route
                data: {
                    id: current_word_id
                },
                // url is the ajax route in views.py
                url: {{ url_for('admin_blueprint.ajax_delete')| tojson | safe }},
        type: "POST"

            }).done(function (data) {
            /* Server check: with parents().length I check if element has any parent with this ID
            because an existing username is good (green) in Login but bad (red) in register. */

            console.log(data);
            console.log(
                $("#word" + current_word_id).parent()
            )
            $("#word" + current_word_id).parent().remove();
        });
        document.myform.reset();
        closeForm();
        }


        function closeForm() {

            document.getElementById("myForm").style.display = "none";
            document.myform.reset();

            // TODO/suggestion: Make an ajax call that changes objects.

        }
    </script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src=https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js></script>

    <!-- plugin for DataTables and moment.js ( written at the time of moment v. 2.8.4 -->
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

        <!-- moment.js -->
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script-->
{% endblock script %}