{% from 'macros.html' import help_container, croppermodal, word_card with context %}
{% extends "layout.html" %}

{% block title %}
{{ title_collection }}
{% endblock %}

{% block submeta %}
<!-- page specific tags for collction -->
<meta name="description" content="{{ collection_meta.description }}" />

<!-- page specific open graph -->
<meta property="og:description" content="{{ collection_meta.og_description }}" />
<meta property="og:image" content="{{ url_for('static', filename=collection_meta.og_image, _external=True ) }}">
<meta property=" og:image:secure_url"
    content="{{ url_for('static', filename=collection_meta.og_image, _external=True ) }}">
<meta property="og:title" content="{{ collection_meta.og_title }}" />
<meta property="og:url" content="{{ url_for('user_blueprint.collection', locale=session.locale, _external=True) }}" />
<link rel="canonical" href="{{ url_for('user_blueprint.collection', locale=session.locale, _external=True) }}" />
<meta property="og:image:alt" content="{{ collection_meta.og_image_alt }}" />

<meta property="og:image:type" content="{{ layout.og_image_type }}" />
<meta property="og:image:width" content="{{ layout.og_image_width }}" />
<meta property="og:image:height" content="{{ layout.og_image_height }}" />
{% endblock %}


{% block extrahead %}
<!-- jQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- JSpdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" integrity="sha512-V/C9Axb8EEL4ix79ERIJmpRd6Mp1rWVSxa2PIBCdCxqhEsfCBWp/R0xJ4U495czhcuDWrGOFYo8+QI3lJ9DK5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock extrahead %}


{% block main %}


<!-- CROPPER MODAL -->
<div class="modal fade" id="croppermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content my-cropper-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <div id="preview" style="width: 100px; height: 100px; overflow: hidden;"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Wrap the image or canvas element with a block element (container) -->
                <div class="container cropper_styles">
                    <div>
                        <img id="cropperimage" src="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cropper-confirm">Save</button>
            </div>
        </div>
    </div>
</div>



<!-- PDF Wizard modal -->

<!-- put these in head -->
<!-- bbbootstrap's smart wizard modal -->
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
<!-- jQuery ui for sortable -->
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Put this in a script file -->
<script>
$(document).ready(function(){

    $('#smartwizard').smartWizard({
    selected: 0,
    theme: '',
    autoAdjustHeight:true,
    transitionEffect:'fade',
    showStepURLhash: false,
    });
    // Disable step
    //$('#smartwizard').smartWizard("stepState", [1, 2], "disable");

});
</script>



<!-- Put the button on the page -->
    <button type="button" class="pdfbtn shadow" data-toggle="modal" data-target="#listWizardModal"> Order items </button>



<!-- Put the modal in a macro with other modals and take word list as argument? -->
    <div class="modal fade boardgame-wizard-modal" id="listWizardModal" tabindex="-1" role="dialog" aria-labelledby="listWizardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="listWizardModalLabel">Create board game</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <button type="button" class="close customclose" data-dismiss="modal" aria-label="Close"> <i class="fas fa-times-circle" aria-hidden="true"></i> </button>
                </div>
                <div class="modal-body">
                    <div id="smartwizard">
                        <ul>
                            <li><a href="#step-1">Step 1<br /><small>Select theme</small></a></li>
                            <li><a href="#step-2">Step 2<br /><small>Rearrange order</small></a></li>
                            <li><a href="#step-3">Step 3<br /><small>Create</small></a></li>
                        </ul>
                        <div>
                            <div id="step-1" class="theme-selector">
                                <div class="row">
                                    <div class="col-12 col-sm-6 justify-content-center justify-content-sm-end">
                                        <div class="img-wrapper">
                                            <img class="pdf-example selectable-theme shadow" src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of solar system boardgame" data-count="30">
                                        </div>
                                    </div>        
                                    <div class="col-12 col-sm-6 justify-content-center justify-content-sm-start">
                                        <div class="img-wrapper">
                                            <img class="pdf-example selectable-theme shadow" src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of solar system boardgame" data-count="30">
                                        </div>
                                    </div>   
                                </div>
                            </div>

                            <div id="step-2">


                                <ul id="sortable">
                                {% if session["board_game_word_list"] %}
                                    <!-- has to be list of relevant count -->
                                    {% for word in session["board_game_word_list"] %}
                                        <li data-id="{{ word.id }}" data-position="{{ loop.index }}">{{ word.word }}</li>
                                    {% endfor %}
                                    {% else %}
                                        No theme selected
                                    {% endif %} 
                                </ul>







                            </div>
                            <div id="step-3" class="pdfgenerator">
                                <div class="btn-wrap">
                                    <button class="pdfbtn shadow" id="make_space_boardgame_btn">
                                        <span class="btn-ready">
                                            <i class="fas fa-file-pdf"></i> {{ btn_make_game_board }}
                                        </span>
                                        <span class="btn-loading" style="display: none;">LOADINg</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% if collection|length %}
<div class="container-fluid text-center pdfgenerator">
    <div class="row">

        <button id="search-collapse-btn" type="button" class="btn shadow" data-toggle="collapse"
            data-target="#pdf-form-collapsable" aria-expanded="true" aria-controls="collapseOne">{{ btn_PDFtool }} <i
                id="rotate-icon" class="fas fa-angle-down"></i>
        </button>
        <script>
            var url_for_clear = "{{ url_for('user_blueprint.ajax_clear') }}";
        </script>
        <button type="button" class="btn shadow" onclick="clear_collection(url_for_clear, event)" data-toggle="tooltip"
            data-placement="top" title="{{ tooltip_clearall }}"><i class="fas fa-trash-alt"></i> {{ btn_clearall
            }}</button>
    </div>

    <div class="collapse shadow pdf-generator-dropdown" id="pdf-form-collapsable">
        <div class="row pt-4">
            {{ help_container("pdf-", help_pdf_title, help_pdf_cue, help_pdf_content) }}
        </div>
        <form class="pdf-showcase" method="POST" action="{{ url_for('user_blueprint.collection', locale=session.locale) }}">
            {{ form.hidden_tag() }}
            <div class="container-fluid background-choices pdf-showcase-inner">
            <p>{{ help_pdf_choose_back }}</p>
                <fieldset class="container">
                    <div class="row">
                        {% for subfield in form.background %}
                        <div class="col">
                            <div class="bg-btn-wrap" style="background-image:
                            url(/static/permaimages/thumbnails/thumb_{{subfield.data}}.png);">
                                <div class="text-background"></div>
                                {{ subfield(class="btn-check") }}
                                {{ subfield.label(class="bgexample shadow btn font-weight-bold") }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="pdfbtn shadow"><i class="fas fa-file-pdf"
                                    formaction="{{ url_for('user_blueprint.collection', locale=session.locale) }}"></i>
                                {{ btn_makePDF }} </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="row pdf-showcase">
            <div class="pdf-showcase-inner col-12 text-center d-flex flex-column align-items-center">
            <p>{{ help_pdf_board_game }}</p>
                <img class="pdf-example shadow" src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of solar system boardgame">
                <button class="pdfbtn shadow" id="arrange_boardgame_order_btn"><i class="fas fa-file-pdf"></i> {{ btn_make_game_board }} (order)</button>
            </div>
        </div>
    </div>
</div>


<!-- Collection of words/images: -->
<div class="container contentbox">
    <div class="row" id="collectionrow">
        {% for word in collection %}
        <div class="col-12 col-md-4 col-sm-6 wordcols" id="wordcol{{word.id}}">
            {% if "default." in word.image.name %}
            {{ word_card(word, uploadbutton=true, duplicatebutton=true) }}
            {% else %}
            {{ word_card(word, duplicatebutton=true) }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}

    <div class="sorry">
        <p>
            {{ collection_tip | safe }}
        </p>
    </div>
    {% endif %}
</div>
</div>




{% endblock %}

{% block script %}
<script>
    window.jsPDF = window.jspdf.jsPDF
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pdf_maker_script.js') }}"></script>
<script>
    $("#search-collapse-btn").click(function () {
        //$("#search-collapsable").collapse('toggle'); // This is done with aria stuff in the html
        $("#rotate-icon").toggleClass("fa-rotate-180");
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/cropper_scripts.js') }}"></script>

{% endblock script %}