<!-- 
Content
- metadata
- cropper modal
- pdf wizard modal
- pdf generator section
- collection images
- inline scripts?
 -->

{% from 'macros.html' import help_container, croppermodal, smartwizardmodal, word_card with context %}
{% extends "layout.html" %}

{% block title %}
- {{ title_collection }}
{% endblock %}

{% block submeta %}
<!-- page specific tags for collction -->
<meta name="description" content="{{ collection_meta.description }}" />

<!-- page specific open graph -->
<meta property="og:description" content="{{ collection_meta.og_description }}" />
<meta property="og:image" content="{{ url_for('static', filename=collection_meta.og_image, _external=True ) }}">
<meta property=" og:image:secure_url"
    content="{{ url_for('static', filename=collection_meta.og_image, _external=True ) }}">
<meta property="og:title" content="{{ collection_meta.og_title }}" />
<meta property="og:url" content="{{ url_for('user_blueprint.collection', locale=session.locale, _external=True) }}" />
<link rel="canonical" href="{{ url_for('user_blueprint.collection', locale=session.locale, _external=True) }}" />
<meta property="og:image:alt" content="{{ collection_meta.og_image_alt }}" />

<meta property="og:image:type" content="{{ layout.og_image_type }}" />
<meta property="og:image:width" content="{{ layout.og_image_width }}" />
<meta property="og:image:height" content="{{ layout.og_image_height }}" />
{% endblock %}


{% block extrahead %}
<!-- jQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- JSpdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" integrity="sha512-V/C9Axb8EEL4ix79ERIJmpRd6Mp1rWVSxa2PIBCdCxqhEsfCBWp/R0xJ4U495czhcuDWrGOFYo8+QI3lJ9DK5g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- bbbootstrap's smart wizard modal -->
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>
<!-- jQuery ui for sortable -->
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock extrahead %}


{% block main %}

<div class="collectionpage-main">
<div class="titlebox-top">
        <h1 class="page-title"> {{ title_collection }}</h1>
</div>
    <!-- CROPPER MODAL -->
    <div class="modal fade" id="croppermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content my-cropper-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <div id="preview" style="width: 100px; height: 100px; overflow: hidden;"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Wrap the image or canvas element with a block element (container) -->
                    <div class="container cropper_styles">
                        <div>
                            <img id="cropperimage" src="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="cropper-confirm">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- PDF wizard modal (macro) only displays if button pressed in PDF generator -->
    {{ smartwizardmodal(session) }}


    <!-- PDF generator -->
    {% if collection|length %}
    <div class="container-fluid text-center pdfgenerator">

        <button id="search-collapse-btn" type="button" class="btn shadow top-button" data-bs-toggle="collapse"
            data-bs-target="#pdf-form-collapsable" aria-expanded="true" aria-controls="collapseOne">{{ btn_PDFtool }} <i
                id="rotate-icon" class="fas fa-angle-down"></i>
        </button>
        <script>
            var url_for_clear = "{{ url_for('user_blueprint.ajax_clear') }}";
        </script>
        <button type="button" class="btn shadow top-button" onclick="clear_collection(url_for_clear, event)" data-bs-toggle="tooltip"
            data-bs-placement="top" title="{{ tooltip_clearall }}"><i class="fas fa-trash-alt"></i> {{ btn_clearall
            }}</button>


        <div class="collapse shadow pdf-generator-dropdown" id="pdf-form-collapsable">
            <div class="row pt-4">
                {{ help_container("pdf-", help_pdf_title, help_pdf_cue, help_pdf_content) }}
            </div>
            <form class="pdf-showcase" method="POST" action="{{ url_for('user_blueprint.collection', locale=session.locale) }}">
                {{ form.hidden_tag() }}
                <div class="container-fluid background-choices pdf-showcase-inner">
                    <p>{{ help_pdf_choose_back }}</p>
                    <fieldset class="container">
                        <div class="row">
                            {% for subfield in form.background %}
                            <div class="bgx-col">
                                <div class="bg-btn-wrap" style="background-image:
                                url({{url_for('static', filename=choice_objects[subfield.data | int].get_thumb())}});">
                                    <div class="text-background"></div>
                                    {{ subfield(class="btn-check") }}
                                    {{ subfield.label(class="bgexample shadow btn font-weight-bold") }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="pdfbtn shadow"><i class="fas fa-file-pdf"
                                        formaction="{{ url_for('user_blueprint.collection', locale=session.locale) }}"></i>
                                    {{ btn_makePDF }} </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
                
            <div class="row pdf-showcase">
                <div class="pdf-showcase-inner col-12 text-center d-flex flex-column align-items-center">
                    <button type="button" class="pdfbtn shadow" data-bs-toggle="modal" data-bs-target="#listWizardModal"> <i class="fas fa-file-pdf"></i> {{ pdf_game_btn }} </button>
                </div>
            </div>
        </div>
    </div> <!-- pdf generator -->


    <!-- Collection of words/images: -->
    <div class="container contentbox">
        <div class="row" id="collectionrow">
            {% for word in collection %}
            <div class="col-12 col-md-4 col-sm-6 wordcols" id="wordcol{{word.id}}">
                {% if "default." in word.image.name %}
                {{ word_card(word, uploadbutton=true, duplicatebutton=true) }}
                {% else %}
                {{ word_card(word, duplicatebutton=true) }}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}
    <div class="sorry">
        <p>
            {{ collection_tip | safe }}
        </p>
    </div>
    {% endif %} <!-- collection length -->

</div>



{% endblock %}

{% block script %}
<!-- For cropper.js for uploading user's own images and cropping to fit -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
    integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
    integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    window.jsPDF = window.jspdf.jsPDF
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/pdf_maker_script.js') }}"></script>
<script>
    $("#search-collapse-btn").click(function () {
        //$("#search-collapsable").collapse('toggle'); // This is done with aria stuff in the html
        $("#rotate-icon").toggleClass("fa-rotate-180");
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/cropper_scripts.js') }}"></script>

{% endblock script %}