{% extends "layout.html" %}
{% from 'macros.html' import ipa_picker, word_card, word_card_buttons with context %}
{% from 'admin_macros.html' import enable_chosenjs, chosenjs_filtering %}
{% from 'MOmacro.html' import MOmacro %}

{% block title %}
: {{ title_soundsearch }}
{% endblock %}

{% block main %}

<!-- rendered ids need to be tracked together groupwise including pairs and MOs or any other groupings -->
<script>
    var renderedids = [];
    // trying out word groups instead of pair word ids to be able to use same refresh button function across multiple kinds of groupings
    var renderedWordGroups = [];
</script>


<div class="container-fluid text-center titlebox">
    <!-- Buttons for collapsing forms -->
    <button id="search-pair-collapse-btn" type="button" class="btn shadow top-button" data-toggle="collapse"
        data-target="#search-collapsable" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-search"></i>
        {{ btn_sound }} <i id="rotate-icon" class='fas {{"fa-angle-down" if pairs else "fa-angle-up"}}'></i>
    </button>

    <!-- Buttons to add/remove all search results -->
    {% if pairs or MOsets %}

    <div class="wordgroup" data-ids="{{ renderedids | safe }}">
        <button type="button" class="top-button removegroupbtn removeallbtn btn shadow m-auto"
            style="display: {{ 'inline-block' if collectedAll else 'none' }};"
            onclick="collect_many({{ renderedids | safe }}, url_for_bulkmanage, event, remove=true)"
            data-toggle="tooltip" data-placement="top" title="{{ tooltip_rmresults }}"><i
                class="fas fa-minus-circle"></i> {{
            btn_clearall }} </button>

        <button type="button" class="top-button addgroupbtn btn shadow m-auto"
            style="display: {{ 'none' if collectedAll else 'inline-block' }};"
            onclick="collect_many({{ renderedids | safe }}, url_for_bulkmanage, event, remove=false)"
            data-toggle="tooltip" data-placement="top" title="{{ tooltip_rmresults }}"><i
                class="fas fa-plus-circle"></i> {{ btn_addall
            }}</button>
    </div>
    {% endif %} {# endif pairs #}


    <!-- collapsing tab section with tabs: search for pairs or multiple oppositions -->
    <div id="search-collapsable" class='collapse {{"show" if not pairs}}' aria-labelledby="headingOne">
        <div class="search-tabs-flex-wrapper">

            <div class="search-tabs">

                <!-- tabs (the ones you click) -->
                <div class="nav-tab-wrapper">

                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item orangebg">
                            <a class="nav-link {{'active show' if not MOmode else ''}}" id="searchPairs-tab"
                                data-toggle="tab" href="#searchPairs" role="tab" aria-controls="search-pairs"
                                aria-selected="true">{{ tab_pairs }}</a>
                        </li>
                        <li class="nav-item redbg">
                            <a class="nav-link {{'active show' if MOmode else ''}}" id="searchMOs-tab" data-toggle="tab"
                                href="#searchMOs" role="tab" aria-controls="search-multiple-oppositions"
                                aria-selected="false">{{ tab_MOs }}</a>
                        </li>
                    </ul>
                </div>

                <!-- tab content -->
                <div class="tab-content" id="search-tabs-content">
                    <!-- form pane: search for pairs -->
                    <div class="tab-pane shadow orangebg {{'show active' if not MOmode else ''}}" id="searchPairs"
                        role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-wrapper">

                            <form id="searchPairs" method="POST" action="{{ url_for('user_blueprint.contrasts') }}"
                                novalidate>
                                {{ form.hidden_tag() }}
                                <div class="search-sounds-field">
                                    {{ form.sound1(class="sound_input_field", size="1") }}
                                    vs.
                                    {{ form.sound2(class="sound_input_field", size="1") }}
                                    <button name="searchBtn" value="pair" type="submit" class="shadow"
                                        data-toggle="tooltip" data-placement="top" title="{{ tooltip_searchpairs }}"><i
                                            class="fa fa-search"
                                            formaction="{{ url_for('user_blueprint.contrasts') }}"></i>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- form pane: search for MOs -->
                    <div class="tab-pane shadow redbg {{'show active' if MOmode else ''}}" id="searchMOs"
                        role="tabpanel" aria-labelledby="profile-tab">
                        <!-- collapsing form: search for multiple opposition sets -->
                        <div class="form-wrapper">

                            <form id="searchMOs" method="POST" action="{{ url_for('user_blueprint.contrasts') }}"
                                novalidate>
                                {{ form2.hidden_tag() }}
                                <div class="search-sounds-field MO-search-sounds-field">

                                    {{ form2.sound1(class="sound_input_field", size="1") }}
                                    vs.
                                    <div class="opposing-sound-inputs">

                                        {{ form2.sound2(class="sound_input_field", size="1") }}
                                        {{ form2.sound3(class="sound_input_field", size="1") }}
                                        {{ form2.sound4(class="sound_input_field", size="1") }}
                                        {{ form2.sound5(class="sound_input_field", size="1") }}
                                    </div>

                                    <button type="submit" name="searchBtn" value="MO" class="shadow MO-search-button"
                                        data-toggle="tooltip" data-placement="top" title="{{ tooltip_searchMOs }}"><i
                                            class="fa fa-search"
                                            formaction="{{ url_for('user_blueprint.contrasts') }}"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ipa-container">
            {{ ipa_picker() }}
        </div>
    </div>
</div>





<!-- Actual search results -->


<div class="contentbox">
    {% if MOsets %}
    <div class="titlebox">
        <div class="title-text">
            <p>
                {{ exactmatch }}
            </p>
        </div>
    </div>

    <div class="row MO-row shadow justify-content-left">

        {% for MOset in MOsets %}
        <div class="MO-col">
            <div class="MO-wrapper shadow">
                {{ MOmacro(MOset) }}
            </div>
        </div>
        {% endfor %}


    </div>

    {% endif %}

    {% if MOsets2 %}
    <div class="titlebox">
        <div class="title-text">
            <p>
                {{ partialmatch }}
            </p>
        </div>
    </div>
    <div class="row MO-row shadow">
        {% for MOset in MOsets2 %}
        <div class="MO-col">
            <div class="MO-wrapper shadow">
                {{ MOmacro(MOset) }}
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}


    {% if pairs %}
    <div class="titlebox">
        <div class="title-text">
            <p>
                [{{ pairs[0].s1.sound }}] vs [{{ pairs[0].s2.sound }}]
            </p>
        </div>
    </div>
    <!-- For loop "pairs" for iterating over pairs -->


    {% for pair in pairs %}


    <div class="row justify-content-center wordgroup" data-ids='[{{ pair.w1.id }}, {{ pair.w2.id }}]'>

        <a href="#" type="button" class="addgroupbtn addgroupbtn-pair btn"
            style="display: {{ 'none' if pair.id in collectedPairs else 'inline-block' }};"
            onclick="collect_many([{{ pair.w1.id }}, {{ pair.w2.id }}], url_for_bulkmanage, event, remove=false)"
            data-toggle="tooltip" data-placement="top" title="{{ tooltip_addpair }}"><i
                class="fas fa-plus-circle shadow"></i>
        </a>
        <a href="#" type="button" class="removegroupbtn removegroupbtn-pair btn"
            style="display: {{ 'inline-block' if pair.id in collectedPairs else 'none' }};"
            onclick="collect_many([{{ pair.w1.id }}, {{ pair.w2.id }}], url_for_bulkmanage, event, remove=true)"
            data-toggle="tooltip" data-placement="top" title="{{ tooltip_rmpair }}"><i
                class="fas fa-minus-circle shadow"></i>
        </a>

        <div class="col-6 col-sm-5">
            {{ word_card(pair.w1) }}
        </div>

        <div class="col-6 col-sm-5">

            {{ word_card(pair.w2) }}
        </div>

    </div>
    <!-- For loop "pairs" end -->
    {% endfor %}
    {% endif %}
</div>

{% endblock %}



{% block script %}
<script>

    $("#search-pair-collapse-btn").click(function () {
        //$("#search-collapsable").collapse('toggle'); // This is done with aria stuff in the html
        $("#rotate-icon").toggleClass("fa-rotate-180");
    });
    // This url is defined for passing into add_to_collection which is defined in scripts.js
    var url_for_bulkmanage = "{{ url_for('user_blueprint.ajax_collect_many') }}";

</script>


{% endblock script %}