{% extends "layout.html" %}
{% from 'macros.html' import ipa_picker, word_card, help_container, word_card_buttons with context %}
{% from 'MOmacro.html' import MOmacro with context%}

{% block title %}
- {{ title_soundsearch }}
{% endblock %}

{% block submeta %}
<!-- page specific tags -->
<meta name="description" content="{{ contrasts.description }}" />

<!-- page specific open graph -->
<meta property="og:title" content="{{ contrasts.og_title }}" />
<meta property="og:description" content="{{ contrasts.og_description }}" />
<meta property="og:image" content="{{ url_for('static', filename=contrasts.og_image, _external=True ) }}">
<meta property=" og:image:secure_url" content="{{ url_for('static', filename=contrasts.og_image, _external=True ) }}">
<meta property="og:image:alt" content="{{ contrasts.og_image_alt }}" />
<meta property="og:url" content="{{ url_for('user_blueprint.contrasts', locale=session.locale, _external=True) }}" />
<link rel="canonical" href="{{ url_for('user_blueprint.contrasts', locale=session.locale, _external=True) }}" />

<meta property="og:image:type" content="{{ layout.og_image_type }}" />
<meta property="og:image:width" content="{{ layout.og_image_width }}" />
<meta property="og:image:height" content="{{ layout.og_image_height }}" />
{% endblock %}


{% block main %}

    <!-- rendered ids need to be tracked together groupwise including pairs and MOs or any other groupings -->
    <script>
        var renderedids = [];
        // trying out word groups instead of pair word ids to be able to use same refresh button function across multiple kinds of groupings
        var renderedWordGroups = [];
    </script>

    <div class="container-fluid text-center contrasts-box">
        <div class="titlebox-top">
            <h1 class="page-title">{{ title_soundsearch }}</h1>
        </div>

        <!-- Buttons for collapsing forms -->
        <button id="search-pair-collapse-btn" type="button" class="btn shadow top-button main-btn" data-bs-toggle="collapse"
            data-bs-target="#search-collapsable" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-search"></i>
            {{ btn_sound }} <i id="rotate-icon" class='fas {{"fa-angle-down" if pairs else "fa-angle-up"}}'></i>
        </button>

        <!-- Buttons to add/remove all search results -->
        {% if pairs or MOsets %}

        <div class="wordgroup" data-ids="{{ renderedids | safe }}">
            <button type="button" class="top-button removegroupbtn removeallbtn btn shadow main-btn m-auto"
                style="display: {{ 'inline-block' if collectedAll else 'none' }};"
                onclick="collect_many({{ renderedids | safe }}, url_for_bulkmanage, event, remove=true)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_rmresults }}"><i
                    class="fas fa-minus-circle"></i> {{
                btn_clearall }} </button>

            <button type="button" class="top-button addgroupbtn btn shadow main-btn"
                style="display: {{ 'none' if collectedAll else 'inline-block' }};"
                onclick="collect_many({{ renderedids | safe }}, url_for_bulkmanage, event, remove=false)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_rmresults }}"><i
                    class="fas fa-plus-circle"></i> {{ btn_addall
                }}</button>
        </div>
        {% endif %} {# endif pairs #}


        <!-- collapsing tab section with tabs: search for pairs or multiple oppositions -->
        <div id="search-collapsable" class='collapse {{"show" if not pairs}} search-collapsable' aria-labelledby="headingOne">
            <div class="search-tabs-flex-wrapper">

                <div class="search-tabs">

                    <!-- tabs (the ones you click) -->
                    <div class="nav-tab-wrapper">

                        <ul class="nav nav-tabs justify-content-center">
                            <li class="nav-item orangebg">
                                <a class="nav-link {{'active show' if not MOmode else ''}}" id="searchPairs-tab"
                                    data-bs-toggle="tab" href="#searchPairs" role="tab" aria-controls="search-pairs"
                                    aria-selected="true">{{ tab_pairs }}</a>
                            </li>
                            <li class="nav-item redbg">
                                <a class="nav-link {{'active show' if MOmode else ''}}" id="searchMOs-tab" data-bs-toggle="tab"
                                    href="#searchMOs" role="tab" aria-controls="search-multiple-oppositions"
                                    aria-selected="false">{{ tab_MOs }}</a>
                            </li>
                        </ul>
                    </div>


                    <!-- tab content -->
                    <div class="tab-content" id="search-tabs-content">
                        
                        <!-- form pane: search for pairs -->
                        <div class="tab-pane shadow orangebg {{'show active' if not MOmode else ''}}" id="searchPairs"
                        role="tabpanel" aria-labelledby="home-tab">
                            <h2 class="subtitle-sound-search">{{ subtitle_soundsearch }}</h2>
                            {{ help_container("pairs-", help_pairs_title, help_soundsearch_cue, help_pairs_content) }}
                            <div class="form-wrapper">

                                <form id="searchPairs" method="POST"
                                    action="{{ url_for('user_blueprint.contrasts', locale=session.locale) }}" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="search-sounds-field">
                                        {{ form.sound1(class="sound_input_field ipa-font", size="1") }}
                                        vs.
                                        {{ form.sound2(class="sound_input_field ipa-font", size="1") }}
                                    </div>
                                    <button name="searchBtn" value="pair" type="submit" class="shadow main-btn"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_searchpairs }}"><i
                                            class="fa fa-search"
                                            formaction="{{ url_for('user_blueprint.contrasts', locale=session.locale) }}"></i>
                                    </button>
                                </form>
                                {% if not MOmode %}
                                    {% if g.errorfeedback %}

                                        <p class="error-p">{{ g.errorfeedback | safe}}</p>

                                    {% endif %}
                                {% endif %}

                            </div>

                            <div class="ipa-container">
                                {{ ipa_picker() }}
                            </div>
                        </div>


                        <!-- form pane: search for MOs -->
                        <div class="tab-pane shadow redbg {{'show active' if MOmode else ''}}" id="searchMOs"
                            role="tabpanel" aria-labelledby="profile-tab">
                            <h2 class="subtitle-sound-search">{{ subtitle_soundsearch_MO }}</h2>
                            <!-- collapsing form: search for multiple opposition sets -->
                            {{ help_container("MO-", help_MO_title, help_soundsearch_cue, help_MO_content) }}
                            <div class="form-wrapper">

                                <form id="searchMOs" method="POST"
                                    action="{{ url_for('user_blueprint.contrasts', locale=session.locale) }}" novalidate>
                                    {{ form2.hidden_tag() }}
                                    <div class="search-sounds-field MO-search-sounds-field">

                                        {{ form2.sound1(class="sound_input_field ipa-font", size="1") }}
                                        vs.
                                        <div class="opposing-sound-inputs">

                                            {{ form2.sound2(class="sound_input_field ipa-font", size="1") }}
                                            {{ form2.sound3(class="sound_input_field ipa-font", size="1") }}
                                            {{ form2.sound4(class="sound_input_field ipa-font", size="1") }}
                                            {{ form2.sound5(class="sound_input_field ipa-font", size="1") }}
                                        </div>

                                        <button type="submit" name="searchBtn" value="MO"
                                            class="shadow MO-search-button main-btn" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="{{ tooltip_searchMOs }}"><i class="fa fa-search"
                                                formaction="{{ url_for('user_blueprint.contrasts', locale=session.locale) }}"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            {% if MOmode %}
                                {% if g.errorfeedback %}
                                        <p class="error-p">{{ g.errorfeedback | safe }}</p>
                                {% endif %}
                            {% endif %}
                            <div class="ipa-container">
                                {{ ipa_picker() }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>





    <!-- Actual search results -->


    <div class="contentbox contrasts-box">

        <!-- exact matches -->
        {% if MOsets %}

            <div class="contrast-title-text">
                <p>
                    {{ exactmatch }}
                </p>
            </div>


        <div class="row MO-row shadow justify-content-left">

            {% for MOset in MOsets %}

                {{ MOmacro(MOset, loop.index) }}

            {% endfor %}


        </div>

        {% endif %}

        <!-- Partial matches -->
        {% if MOsets2 %}

            <div class="contrast-title-text">
                <p>
                    {{ partialmatch }}
                </p>
            </div>

        <div class="row MO-row shadow">
            {% for MOset in MOsets2 %}

                {{ MOmacro(MOset, loop.index) }}

            {% endfor %}

        </div>
        {% endif %}


        {% if pairs %}

            <div class="contrast-title-text">
                <p>

                    <span class="ipa-font">[{{ searched_sounds_list[0] }}]</span> vs <span class="ipa-font">[{{ searched_sounds_list[1] }}]</span>

                </p>
                <p class="result-count">
                    {{ show_results[0] }} {{ (pairs.page - 1) * pairs.per_page + 1 }} - {{ (pairs.page - 1) * pairs.per_page + (pairs.items | length) }}  {{ show_results[1] }} {{ pairs.total }} {{ show_results[2] }}
                </p>
                <div class="page-selector">
                    {% for page_num in pairs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    <a class="{% if pairs.page == page_num %} current-page-link {% endif %}" href="{{ url_for('user_blueprint.contrasts', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %} <!-- for page_num in iter_pages -->
                </div>
            </div>

        <!-- For loop "pairs" for iterating over pairs -->
    

        {% for pair in pairs.items %}
        <div class="row justify-content-center wordgroup {% if pair.cluster_length() %}iscluster{% endif %}" data-ids='[{{ pair.w1.id }}, {{ pair.w2.id }}]'>

            <a href="#" type="button" class="addgroupbtn addgroupbtn-pair btn"
                style="display: {{ 'none' if pair.id in collectedPairs else 'inline-block' }};"
                onclick="collect_many([{{ pair.w1.id }}, {{ pair.w2.id }}], url_for_bulkmanage, event, remove=false)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_addpair }}"><i
                    class="fas fa-plus-circle shadow"><i class="fas fa-circle"></i></i>
            </a>
            <a href="#" type="button" class="removegroupbtn removegroupbtn-pair btn"
                style="display: {{ 'inline-block' if pair.id in collectedPairs else 'none' }};"
                onclick="collect_many([{{ pair.w1.id }}, {{ pair.w2.id }}], url_for_bulkmanage, event, remove=true)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_rmpair }}">
                <i class="fas fa-minus-circle shadow">

                    <i class="fas fa-circle"></i>
                </i>
            </a>

            <div class="col-6 col-sm-5">
                {{ word_card(pair.w1) }}
            </div>

            <div class="col-6 col-sm-5">

                {{ word_card(pair.w2) }}
            </div>

        </div>
        <!-- For loop "pairs" end -->
        {% endfor %}

        <div class="page-selector mt-3">
            {% for page_num in pairs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            <a class="{% if pairs.page == page_num %} current-page-link {% endif %}" href="{{ url_for('user_blueprint.contrasts', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            ...
            {% endif %}
            {% endfor %} <!-- for page_num in iter_pages -->
        </div>

        {% endif %}

        {% if searched and not pairs and not MOsets and not MOsets2 %}

            <div class="contrast-title-text">
                <p>
                    {{ nomatches }}
                </p>
                {% if not g.errorfeedback %}
                <div class="feedback-text">

                    <p class="">{{ no_result_message.0 }}
                        <span class="ipa-font">
                            [{% for sound in searched_sounds_list %} {{ sound }}{% endfor %}],
                        </span>
                        {{ no_result_message.1 }} <a href="{{ url_for('user_blueprint.contact', locale=session.locale) }}">{{ no_result_message.2 }}</a>
                    </p>
                </div>
                {% endif %}
            </div>

        {% endif %}
    </div>
        
{% endblock %}
        


{% block script %}
<script>
    $(document).ready(function () {

        $("#search-pair-collapse-btn").click(function () {
            //$("#search-collapsable").collapse('toggle'); // This is done with aria stuff in the html
            console.log("click");
            $("#rotate-icon").toggleClass("fa-rotate-180");
        });
        // This url is defined for passing into add_to_collection which is defined in scripts.js
    });
    var url_for_bulkmanage = "{{ url_for('user_blueprint.ajax_collect_many') }}";

</script>


{% endblock script %}