{% from 'catmacros.html' import illustration %}
{% extends "layout.html" %}
<!-- {% from 'macros.html' import group_card, pair_card %} -->


<!-- no block title on landing page -->
{% block submeta %}
<!-- page specific tags -->
<meta name="description" content="{{ index.description }}" />

<!-- page specific open graph -->
<meta property="og:description" content="{{ index.og_description }}" />
<meta property="og:image" content="{{ url_for('static', filename=index.og_image, _external=True ) }}">
<meta property=" og:image:secure_url" content="{{ url_for('static', filename=index.og_image, _external=True ) }}">
<meta property="og:image:alt" content="{{ index.og_image_alt }}" />
<meta property="og:title" content="{{ index.og_title }}" />
<meta property="og:url" content="{{ url_for('user_blueprint.index', locale=session.locale, _external=True) }}" />
<link rel="canonical" href="{{ url_for('user_blueprint.index', locale=session.locale, _external=True) }}" />

<meta property="og:image:type" content="{{ layout.og_image_type }}" />
<meta property="og:image:width" content="{{ layout.og_image_width }}" />
<meta property="og:image:height" content="{{ layout.og_image_height }}" />
{% endblock %}

{% block main %}
<div class="frontpage-container">
    <div class="container-fluid illustration-container">
        <div>
            <img src="{{ url_for('static', filename='permaimages/textlogos/Alf_logomnavn_plum.png' ) }}" alt="Sponsoreret af ALF - Audiologopædisk Forening" style="max-width: 200px; height: auto; display: block; margin-left: auto; margin-top: 15px; margin-right: 15px;">
        </div>
        {{ illustration() }}
    </div>
    <div class="container-fluid text-container">
        <div class="about-text">

            <h1>{{ about[0] |safe }}</h1>
            {{ about[1] |safe }}
        </div>
        
    </div>
</div>

{% endblock %}


{% block script %}
<!-- For animating SVG in front page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
<script>
    // GSAP for animation on the front page
    var tl = gsap.timeline({
        scrollTrigger: {
            once: true,
            end: "+=500", // end after scrolling 500px beyond the start
            scrub: 2, // smooth scrubbing, takes 1 second to "catch up" to the scrollbar
        }
    });

    if (document.querySelector(".frontpage-container")) {

        tl.delay(1);
        tl.timeScale(0.5);
        // solen tager 5s om at gå ned
        tl.to("#sun", { duration: 5, y: 190 })
            // lyset tager 8s om at gå ned
            .to("#sun-gradient", { duration: 7, attr: { fy: 0.9 } }, '<')
            // lyset tager 3s om at blive rødt
            .to("#outer-c", { duration: 3, stopColor: colorred1 }, '<')
            .to("#inner-c", { duration: 1, stopColor: colorred1 }, '>')
            .to("#sun", { duration: 0, autoAlpha: 0 }, '>')
            //.to("#inner-c", { duration: 2, stopColor: colorred1 }, '>')
            .to("#outer-c", { duration: 1, stopColor: colorpurp2 }, '<')

    }
</script>

{% endblock script %}