{% from 'catmacros.html' import catmacro, logotitle %}
{% from 'icon_earth_detailed.html' import globeicon_detail, globeicon_stylized %}


<!DOCTYPE html>

<html lang="da">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#995f8b">


    <title> {{ title_all | safe }} {% block title %}{% endblock %}</title>
    {% block submeta %}
    <meta property="og:image" content="{{ url_for('static', filename='permaimages/og/ogfrontpage.jpg') }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename='permaimages/og/ogfrontpage.jpg') }}">

    {% endblock %}


    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static',filename='permaimages/logos/autogen/apple/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{ url_for('static',filename='permaimages/logos/autogen/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static',filename='permaimages/logos/favicon-32.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static',filename='permaimages/logos/favicon-32.svg') }}">
    <link rel="icon" type="image/png" sizes="96x96"
        href="{{ url_for('static',filename='permaimages/logos/autogen/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static',filename='permaimages/logos/autogen/favicon-16x16.png') }}">

    {% set manifest_url = url_for('static',filename='permaimages/logos/autogen/' ~ session.manifest) %}

    <link rel="manifest" href="{{ manifest_url }}">
    <link rel="mask-icon" href="/static/permaimages/logos/autogen/apple/safari-pinned-tab.svg" color="#49184e">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/static/permaimages/logos/autogen/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">



    <!-- jquery and popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Bootstrap 4 (for catching whatever doesn't work with bs5) -->
    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootstrap 5 which was released in the middle of development -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/603271f4a3.js" crossorigin="anonymous"></script>

    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <!-- for DataTables-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src=https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js></script>

    <!-- plugin for DataTables and moment.js ( written at the time of moment v. 2.8.4 -->
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

    <!-- For jQuery Chosen (nice searchable select fields) script is below body -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"
        integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA=="
        crossorigin="anonymous" />


    <!-- For owl-carousel used in pairs<id> for displaying word's partners-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>

    <!-- For animating SVG in front page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

    <!-- flag icons css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />

    <!-- my own custom styling -->
    <link href="{{ url_for('static',filename='stylesheets/styles.css') }}" rel="stylesheet" />

</head>



<body>
    <nav class="navbar navbar-expand-md shadow">

        <a href="{{ url_for('user_blueprint.index', locale=session.locale) }}">
            <div class="logo">
                {{ catmacro() }}

            </div>
        </a>


        <a class="logotext_a mx-md-4" href="{{ url_for('user_blueprint.index', locale=session.locale) }}">
            <div class="logotext">
                {{ logotitle() }}
            </div>
        </a>
        <a aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hamburger"
            data-target="#navbar" data-toggle="collapse">
            <span class="navbar-toggler-icon"><i class="fas fa-ellipsis-v"></i></span>
        </a>
        <div class="collapse navbar-collapse" id="navbar">

            <!-- nav links that sit on the right when expanded -->
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_blueprint.add') }}">Add</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_blueprint.change') }}">Change</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('user_blueprint.contrasts', locale=session.locale) }}">{{
                        nav_find
                        |safe }}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('user_blueprint.collection', locale=session.locale) }}">{{
                        nav_collection |safe }}</a>
                </li>
            </ul>

            <!-- nav links that sit on the right when expanded -->
            <ul class="navbar-nav ml-auto">

                <!-- language select drop-down -->
                <li class="nav-item dropdown">
                    <a class="earthtoggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ globeicon_detail() }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        {% for lang, code in config["LANGUAGES"].items() %}
                        <a class="dropdown-item"
                            href='{{ url_for("user_blueprint.change_language", newlocale=lang) }}'><span
                                class="flag-icon flag-icon-{{ code }} flag-icon-squared"></span>
                            {{ lang }}</a>
                        {% endfor %}
                    </div>
                </li>

                <!-- logout button -->
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <header>
        {% for category, message in messages %}
        <div class="alert-wrapper">
            <div class="alert alert-{{ category }} shadow text-center" role="alert">
                <span>{{ message }}</span>
            </div>
        </div>
        {% endfor %}
    </header>
    {% endif %} {% endwith %}

    {% block main %}{% endblock %}


    <footer class="small text-center">
        {{ footer_copyright | safe }}
    </footer>


    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(800, 0);
        }, 3000);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
        integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
        crossorigin="anonymous"></script>


    {% block script %}{% endblock script %}


</body>

</html>