<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Minimal pairs{% block title %}{% endblock %}</title>

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />

    <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
    <link href="/static/leaf.ico" rel="icon" />

    <!-- base imports-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/603271f4a3.js" crossorigin="anonymous"></script>

    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <!-- for DataTables-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src=https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js></script>

    <!-- plugin for DataTables and moment.js ( written at the time of moment v. 2.8.4 -->
    <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

    <!-- For jQuery Chosen (nice searchable select fields) script is below body -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css"
        integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA=="
        crossorigin="anonymous" />

    <!-- For owl-carousel used in pairs<id> for displaying word's åartners-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />

    <!-- my own custom styling -->
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" />


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/admin"><span class="blue">Minimal</span>
            <span class="red">Pairs</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/admin/add">Add</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/change">Change</a></li>
                <li class="nav-item"><a class="nav-link" href="/pairs">Word pairs</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/index">Hi</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">


                <li class="nav-item">
                    <a class="nav-link" href="/admin/index">Button</a>
                </li>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
    <header>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} border text-center" role="alert">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </header>
    {% endif %} {% endwith %}

    {% block main %}{% endblock %}

    <footer class="small text-center text-muted">
        Data provided for free by
        <a href="https://iextrading.com/developer">Hamleyburger</a>. View
        <a href="https://iextrading.com/api-exhibit-a/">Some text here</a>.
    </footer>


    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(8000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"
        integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g=="
        crossorigin="anonymous"></script>
</body>

</html>