{% macro ipa_picker() %}

<!-- HEY! LISTEN! -->
<!-- the function 'insertAtCursor' inserts the sound into fields of class .sound_input_field -->

<div class="ipa_picker">
    <span class="label">{{ IPA_description | safe }}</span><br>

    <a onclick="insertAtCursor('p');" href="javascript:;">p</a>
    <a onclick="insertAtCursor('b');" href="javascript:;">b</a>
    <a onclick="insertAtCursor('t');" href="javascript:;">t</a>
    <a onclick="insertAtCursor('d');" href="javascript:;">d</a>
    <a onclick="insertAtCursor('k');" href="javascript:;">k</a>
    <a onclick="insertAtCursor('g');" href="javascript:;">ɡ</a>
    <a onclick="insertAtCursor('m');" href="javascript:;">m</a>
    <a onclick="insertAtCursor('n');" href="javascript:;">n</a>
    <a onclick="insertAtCursor('ŋ');" href="javascript:;">ŋ</a>
    <a onclick="insertAtCursor('f');" href="javascript:;">f</a>
    <a onclick="insertAtCursor('v');" href="javascript:;">v</a>
    <a onclick="insertAtCursor('ð');" href="javascript:;">ð</a>
    <a onclick="insertAtCursor('s');" href="javascript:;">s</a>
    <a onclick="insertAtCursor('ʁ');" href="javascript:;">ʁ</a>
    <a onclick="insertAtCursor('h');" href="javascript:;">h</a>
    <a onclick="insertAtCursor('j');" href="javascript:;">j</a>
    <a onclick="insertAtCursor('l');" href="javascript:;">l</a>

    <a onclick="insertAtCursor('w');" href="javascript:;">w</a>
    <a onclick="insertAtCursor('ɕ');" href="javascript:;">ɕ</a>

    <a onclick="insertAtCursor('i');" href="javascript:;">i</a>
    <a onclick="insertAtCursor('y');" href="javascript:;">y</a>
    <a onclick="insertAtCursor('u');" href="javascript:;">u</a>
    <a onclick="insertAtCursor('e');" href="javascript:;">e</a>
    <a onclick="insertAtCursor('ø');" href="javascript:;">ø</a>
    <a onclick="insertAtCursor('ə');" href="javascript:;">ə</a>
    <a onclick="insertAtCursor('o');" href="javascript:;">o</a>
    <a onclick="insertAtCursor('ɛ');" href="javascript:;">ɛ</a>
    <a onclick="insertAtCursor('œ');" href="javascript:;">œ</a>
    <a onclick="insertAtCursor('ʌ');" href="javascript:;">ʌ</a>
    <a onclick="insertAtCursor('ɔ');" href="javascript:;">ɔ</a>
    <a onclick="insertAtCursor('æ');" href="javascript:;">æ</a>
    <a onclick="insertAtCursor('ɐ');" href="javascript:;">ɐ</a>
    <a onclick="insertAtCursor('ɐ̯');" href="javascript:;">ɐ̯</a>
    <a onclick="insertAtCursor('a');" href="javascript:;">a</a>
    <a onclick="insertAtCursor('œ̞');" href="javascript:;">œ̞</a>
    <span class="line">

        <a onclick="insertAtCursor('ɶ');" href="javascript:;">ɶ</a>

        <a onclick="insertAtCursor('ɑ');" href="javascript:;">ɑ</a>
        <a onclick="insertAtCursor('ɒ');" href="javascript:;">ɒ</a>
    </span>
</div>
{% endmacro %}




{% macro pair_card(pairList) %}
<div class="item card" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55)">
    <div class="img-wrap">
        <img class="card-img" src="{{ url_for('static', filename='images/thumbnails/' + pairList[0].w2.image.name)}}"
            class="" alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title"><span class="line">{{ pairList[0].w2.word }}</span></h5>
        <p class="card-text">
            {% for pair in pairList %}
            [<span class="ipa-font">{{ pair.s1.sound }}</span>]<span>&#x2192;</span>[<span class="ipa-font">{{ pair.s2.sound }}</span>]
            <br>
            {% endfor %}
        </p>
    </div>
    {{ word_card_buttons(pairList[0].w2) }}
</div>
{% endmacro %}


<!-- Just in case I want it later here's a group card -->
{% macro group_card(group) %}
<div class="card groupcard">
    <div class="card-body">
        <h5 class="card-title">{{ group_name }} {{ group.id }}</h5>
        <p class="card-text">

            {% for member in group.members %}
            {{ member.word }} <br>
            {% endfor %}
        </p>
    </div>
</div>
{% endmacro %}






<!-- Word cards with jinja for 'contrasts' card -->
<!-- Requires a word and a collection (of ids) -->
{% macro word_card(word, uploadbutton=false, duplicatebutton=false) %}


<div class="card text-center wordcard word-font shadow" style="width: 18rem;">
    <div class="img-container">
        <!-- define filename based on whether the user has added custom images -->
        {% if word.id in session.userimages %}
        {% set filename = session.userimages[word.id] %}
        {% set alt = "Custom images are removed from the server after a while. Try uploading the image again: " %}
        {% else %}
        {% set filename = "images/thumbnails/" + word.image.name %}
        {% set alt = "image of " %}
        {% endif %}
        <img class="card-img-top" src="{{ url_for('static', filename=filename)}}" alt="{{ alt }}'{{ word.word }}'"
            data-image-wordid={{ word.id }}>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ word.word }}</h5>

        {{ word_card_buttons(word, uploadbutton=uploadbutton, duplicatebutton=duplicatebutton) }}
    </div>
</div>

{% endmacro %}




<!-- The buttons all word cards must have to add/remove from collection -->
{% macro word_card_buttons(word, infobutton=true, uploadbutton=false, duplicatebutton=false) %}
<!-- Set collection -->
<script>
    // This url is defined for passing into add_to_collection which is defined in scripts.js
    var url_for_add = "{{ url_for('user_blueprint.ajax_add2collection') }}";
    var url_for_remove = "{{ url_for('user_blueprint.ajax_remove_from_collection') }}";
    var url_for_duplicate = "{{ url_for('user_blueprint.ajax_duplicate_in_collection') }}";
</script>

<!-- Check if word is in collection (for contrasts) -->
{% set collection = session["collection"] %}
{% set isCollected = false %}
{% if word.id in collection %}
{% set isCollected = true %}
{% endif %}
<div class="buttons">
    {% if isCollected %}
    <a class="w{{word.id}}-add addwordbtn" href="#" style="display: none;"
        onclick="add_to_collection({{ word.id }}, url_for_add, event)" data-toggle="tooltip" data-placement="top"
        title="{{ tooltip_addword }}"><i class="fas fa-plus-circle"></i></a>
    <a class="w{{word.id}}-remove removewordbtn" href="#"
        onclick="remove_from_collection({{ word.id }}, url_for_remove, event)" data-toggle="tooltip"
        data-placement="top" title="{{ tooltip_rmword }}"><i class="fas fa-minus-circle"></i></a>
    {% else %}
    <a class="w{{word.id}}-add addwordbtn" href="#" onclick="add_to_collection({{ word.id }}, url_for_add, event)"
        data-toggle="tooltip" data-placement="top" title="{{ tooltip_addword}}"><i class="fas fa-plus-circle"></i>
    </a>
    <a class="w{{word.id}}-remove removewordbtn" style="display: none;" href="#"
        onclick="remove_from_collection({{ word.id }}, url_for_remove, event)" data-toggle="tooltip"
        data-placement="top" title="{{ tooltip_rmword }}"><i class="fas fa-minus-circle"></i></a>
    {% endif %}
    {% if infobutton %}
    <a href="{{ url_for('user_blueprint.wordinfo', word_id=word.id, locale=session.locale) }}" data-toggle="tooltip"
        data-placement="top" title="{{ tooltip_wordinfo }}"><i class="fas fa-info-circle"></i></a>
    {% endif %}
    {% if uploadbutton %}

    <div>
        <form id="upload-file" action="" method="POST" enctype="multipart/form-data">
            <script>
                url_for_img_validation = "{{ url_for('user_blueprint.validate_browser_image') }}"
                url_for_img_upload = "{{ url_for('user_blueprint.upload_image') }}"
            </script>
            <input type="file" onchange="fileSelected(url_for_img_upload)" class="custom-file-input" name="image"
                id="image" accept="image/*">
            <label for="image" class="p-0 file-label" onclick="set_upload_word_id('{{ word.id }}')"><i
                    class="fas fa-upload"></i></label>
            <input type="hidden" id="upload_word_id" name="upload_word_id" value="">
        </form>
    </div>

    {% endif %}
    {% if duplicatebutton %}
    <a class="w{{word.id}}-duplicate duplicatebtn" href="#"
        onclick="duplicate_in_collection({{ word.id }}, url_for_duplicate, event)" data-toggle="tooltip"
        data-placement="top" title="{{ tooltip_dupeword }}"><i class="fas fa-clone"></i></a>
    {% endif %}
</div>
{% endmacro %}



{% macro help_container(idprefix, help_title, help_cue, help_content) %}
<div class="container-fluid help-container">
    <span>
        {{ help_cue }}

        <button type="button" class="help-btn" data-bs-toggle="modal" data-bs-target="#{{ idprefix }}helpModal"
            data-toggle="tooltip" data-placement="top">
            <span data-toggle="tooltip" data-bs-placement="top" title="{{ tooltip_help }}">
                <i class="fas fa-question-circle"></i>
            </span>
        </button>
    </span>

    <!-- Modal -->
    <div class="modal fade" id="{{ idprefix }}helpModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content help-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ help_title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fas fa-times-circle"></i></button>
                </div>
                <div class="modal-body">
                    {{ help_content | safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn main-btn modal-close-btn shadow" data-bs-dismiss="modal">{{ close
                        }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro smartwizardmodal(session) %}
<!-- PDF Wizard modal -->
<!-- Put the modal in a macro with other modals and take word list as argument? -->
<div class="modal fade boardgame-wizard-modal" id="listWizardModal" tabindex="-1" role="dialog" aria-labelledby="listWizardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listWizardModalLabel">{{ pdf_game_btn }}</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <button type="button" class="close customclose" data-dismiss="modal" aria-label="Close"> <i class="fas fa-times-circle" aria-hidden="true"></i> </button>
            </div>
            <div class="modal-body">
                <div id="smartwizard">
                    <ul>
                        <li><a href="#step-1">{{ step1 }}<br /><small>{{ step1_txt }}</small></a></li>
                        <li><a href="#step-2">{{ step2 }}<br /><small>{{ step2_txt }}</small></a></li>
                        <li><a href="#step-3">{{ step3 }}<br /><small>{{ step3_txt }}</small></a></li>
                    </ul>
                    <div>
                        <div id="step-1" class="theme-selector">
                            
                            <!--
                                See pdf_maker_script.js for onclick function for selectable-theme
                            -->

                            <div class="row">
                                <div class="col-12 col-sm-6 justify-content-center justify-content-sm-end">
                                    <div class="img-wrapper">
                                        <img class="pdf-example selectable-theme shadow" data-count="30" data-design="solar"  src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of solar system boardgame">
                                    </div>
                                </div>        
                                <div class="col-12 col-sm-6 justify-content-center justify-content-sm-start">
                                    <div class="img-wrapper">
                                        <img class="pdf-example selectable-theme shadow" data-count="16" data-design="lottery-4"  src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of image lottery-4">
                                    </div>
                                </div>   
                                <div class="col-12 col-sm-6 justify-content-center justify-content-sm-start">
                                    <!--div class="img-wrapper">
                                        <img class="pdf-example selectable-theme shadow" data-count="16" data-design="lottery-4"  src="{{ url_for('static', filename='permaimages/thumbnails/thumb_solarsystemboardgame.png') }}" alt="Example of image lottery-4">
                                    </div-->
                                    <p>Flere designs kommer senere... :-)</p>
                                </div>   
                            </div>
                        </div>



                        <div id="step-2">

                            <ul id="sortable" class="connectedSortable">
                                <!--   Not sure if server generated (jinja) list is necessary at any point here -->
                                <!--   {% if session["pdf_wiz_word_list"] %} <!-- Ensure that everything has gone right -->
                                    <!-- has to be list of relevant count -->
                                <!--  

                                    {% for word in session["pdf_wiz_word_list"] %}
                                    <li data-id="{{ word.id }}" data-position="{{ loop.index }}">{{ word.word }}</li>
                                    {% endfor %}
                                    {% else %}
                                    No theme selected
                                    {% endif %} 
                                --> 

                            </ul>

                            <!-- the ul #sortable2 is a test thing for deceloping connected lists for fx image lottery -->
                            <ul id="sortable2" class="connectedSortable">

                            </ul>

                        </div>


                
                        <div id="step-3" class="pdfgenerator">
                            <div class="btn-wrap">
                                <button class="pdfbtn shadow" id="make_boardgame_btn">
                                    <span class="btn-ready">
                                        <i class="fas fa-file-pdf"></i> {{ btn_make_game_board }}
                                    </span>
                                    <span class="btn-loading" style="display: none;"></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro croppermodal() %}

<div class="modal fade" id="croppermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content my-cropper-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <div id="preview" style="width: 100px; height: 100px; overflow: hidden;"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Wrap the image or canvas element with a block element (container) -->
                <div class="container cropper_styles">
                    <div>
                        <img id="cropperimage" src="">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cropper-confirm">Save</button>
            </div>
        </div>
    </div>
</div>

{% endmacro %}