{% macro ipa_picker() %}

<!-- insertAtCursor can insert into fields of class .sound_input_field -->

<div class="ipa_picker">
    <span class="label float-left">Klik på tegn for at indsætte</span><br>
    <span class="line">
        <a onclick="insertAtCursor('p');" href="javascript:;">p</a>
        <a onclick="insertAtCursor('t');" href="javascript:;">t</a>
        <a onclick="insertAtCursor('k');" href="javascript:;">k</a>
        <a onclick="insertAtCursor('b');" href="javascript:;">b</a>
        <a onclick="insertAtCursor('d');" href="javascript:;">d</a>
        <a onclick="insertAtCursor('ɡ');" href="javascript:;">ɡ</a>
        <a onclick="insertAtCursor('f');" href="javascript:;">f</a>
        <a onclick="insertAtCursor('v');" href="javascript:;">v</a>
        <a onclick="insertAtCursor('w');" href="javascript:;">w</a>
    </span>
    <span class="line">
        <a onclick="insertAtCursor('j');" href="javascript:;">j</a>
        <a onclick="insertAtCursor('ð');" href="javascript:;">ð</a>
        <a onclick="insertAtCursor('s');" href="javascript:;">s</a>
        <a onclick="insertAtCursor('ɕ');" href="javascript:;">ɕ</a>
        <a onclick="insertAtCursor('h');" href="javascript:;">h</a>
        <a onclick="insertAtCursor('m');" href="javascript:;">m</a>
        <a onclick="insertAtCursor('n');" href="javascript:;">n</a>
        <a onclick="insertAtCursor('ŋ');" href="javascript:;">ŋ</a>
        <a onclick="insertAtCursor('l');" href="javascript:;">l</a>
        <a onclick="insertAtCursor('ʁ');" href="javascript:;">ʁ</a>
    </span>
    <br>
    <span class="line">
        <a onclick="insertAtCursor('i');" href="javascript:;">i</a>
        <a onclick="insertAtCursor('e');" href="javascript:;">e</a>
        <a onclick="insertAtCursor('ɛ');" href="javascript:;">ɛ</a>
        <a onclick="insertAtCursor('æ');" href="javascript:;">æ</a>
        <a onclick="insertAtCursor('a');" href="javascript:;">a</a>
        <a onclick="insertAtCursor('y');" href="javascript:;">y</a>
        <a onclick="insertAtCursor('ø');" href="javascript:;">ø</a>
        <a onclick="insertAtCursor('œ');" href="javascript:;">œ</a>
        <a onclick="insertAtCursor('œ̞');" href="javascript:;">œ̞</a>
        <a onclick="insertAtCursor('ɶ');" href="javascript:;">ɶ</a>
    </span>
    <span class="line">
        <a onclick="insertAtCursor('ɑ');" href="javascript:;">ɑ</a>
        <a onclick="insertAtCursor('ɒ');" href="javascript:;">ɒ</a>
        <a onclick="insertAtCursor('ʌ');" href="javascript:;">ʌ</a>
        <a onclick="insertAtCursor('ɔ');" href="javascript:;">ɔ</a>
        <a onclick="insertAtCursor('o');" href="javascript:;">o</a>
        <a onclick="insertAtCursor('u');" href="javascript:;">u</a>
        <a onclick="insertAtCursor('ɐ');" href="javascript:;">ɐ</a>
        <a onclick="insertAtCursor('ɐ̯');" href="javascript:;">ɐ̯</a>
        <a onclick="insertAtCursor('ə');" href="javascript:;">ə</a>
    </span>
</div>

{% endmacro %}