{% macro ipa_picker() %}

<!-- insertAtCursor can insert into fields of class .sound_input_field -->

<div class="ipa_picker">
    <span class="label float-left">Klik på tegn for at indsætte</span><br>
    <span class="line">
        <a onclick="insertAtCursor('p');" href="javascript:;">p</a>
        <a onclick="insertAtCursor('t');" href="javascript:;">t</a>
        <a onclick="insertAtCursor('k');" href="javascript:;">k</a>
        <a onclick="insertAtCursor('b');" href="javascript:;">b</a>
        <a onclick="insertAtCursor('d');" href="javascript:;">d</a>
        <a onclick="insertAtCursor('ɡ');" href="javascript:;">ɡ</a>
        <a onclick="insertAtCursor('f');" href="javascript:;">f</a>
        <a onclick="insertAtCursor('v');" href="javascript:;">v</a>
        <a onclick="insertAtCursor('w');" href="javascript:;">w</a>
    </span>
    <span class="line">
        <a onclick="insertAtCursor('j');" href="javascript:;">j</a>
        <a onclick="insertAtCursor('ð');" href="javascript:;">ð</a>
        <a onclick="insertAtCursor('s');" href="javascript:;">s</a>
        <a onclick="insertAtCursor('ɕ');" href="javascript:;">ɕ</a>
        <a onclick="insertAtCursor('h');" href="javascript:;">h</a>
        <a onclick="insertAtCursor('m');" href="javascript:;">m</a>
        <a onclick="insertAtCursor('n');" href="javascript:;">n</a>
        <a onclick="insertAtCursor('ŋ');" href="javascript:;">ŋ</a>
        <a onclick="insertAtCursor('l');" href="javascript:;">l</a>
        <a onclick="insertAtCursor('ʁ');" href="javascript:;">ʁ</a>
    </span>
    <br>
    <span class="line">
        <a onclick="insertAtCursor('i');" href="javascript:;">i</a>
        <a onclick="insertAtCursor('e');" href="javascript:;">e</a>
        <a onclick="insertAtCursor('ɛ');" href="javascript:;">ɛ</a>
        <a onclick="insertAtCursor('æ');" href="javascript:;">æ</a>
        <a onclick="insertAtCursor('a');" href="javascript:;">a</a>
        <a onclick="insertAtCursor('y');" href="javascript:;">y</a>
        <a onclick="insertAtCursor('ø');" href="javascript:;">ø</a>
        <a onclick="insertAtCursor('œ');" href="javascript:;">œ</a>
        <a onclick="insertAtCursor('œ̞');" href="javascript:;">œ̞</a>
        <a onclick="insertAtCursor('ɶ');" href="javascript:;">ɶ</a>
    </span>
    <span class="line">
        <a onclick="insertAtCursor('ɑ');" href="javascript:;">ɑ</a>
        <a onclick="insertAtCursor('ɒ');" href="javascript:;">ɒ</a>
        <a onclick="insertAtCursor('ʌ');" href="javascript:;">ʌ</a>
        <a onclick="insertAtCursor('ɔ');" href="javascript:;">ɔ</a>
        <a onclick="insertAtCursor('o');" href="javascript:;">o</a>
        <a onclick="insertAtCursor('u');" href="javascript:;">u</a>
        <a onclick="insertAtCursor('ɐ');" href="javascript:;">ɐ</a>
        <a onclick="insertAtCursor('ɐ̯');" href="javascript:;">ɐ̯</a>
        <a onclick="insertAtCursor('ə');" href="javascript:;">ə</a>
    </span>
</div>
{% endmacro %}




{% macro pair_card(pairList) %}
<div class="item card" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55)">
    <div class="img-wrap">
        <img class="card-img"
            src="{{ url_for('static', filename='images/thumbnails/thumbnail_' + pairList[0].w2.image.name)}}" class=""
            alt="...">
    </div>

    <div class="card-body">
        <h5 class="card-title"><span class="line">{{ pairList[0].w2.word }}</span></h5>
        <p class="card-text">
            {% for pair in pairList %}
            [{{ pair.s1.sound }}]<span>&#x2192;</span>[{{ pair.s2.sound }}]
            <br>
            {% endfor %}
        </p>
    </div>
    {{ word_card_buttons(pairList[0].w2) }}
</div>
{% endmacro %}


<!-- Just in case I want it later here's a group card -->
{% macro group_card(group) %}
<div class="card groupcard" style="width: 10rem; display: inline-block; height: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Group</h5>
        <p class="card-text">

            {% for member in group.members %}
            {{ member.word }} <br>
            {% endfor %}
        </p>
        <a href="#" class="card-link">Card link</a>
    </div>
</div>
{% endmacro %}






<!-- Word cards with jinja for 'contrasts' card -->
<!-- Requires a word and a collection (of ids) -->
{% macro word_card(word) %}


<div class="card text-center wordcard shadow" style="width: 18rem;">
    <div class="img-container">
        <img class="card-img-top" src="static/images/thumbnails/thumbnail_{{ word.image.name }}"
            alt="image of '{{ word.word }}''">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ word.word }}</h5>
        {{ word_card_buttons(word) }}
    </div>
</div>

{% endmacro %}




<!-- The buttons all word cards must have to add/remove from collection -->
{% macro word_card_buttons(word, infobutton=true) %}
<!-- Set collection -->
<script>
    // This url is defined for passing into add_to_collection which is defined in scripts.js
    var url_for_add = "{{ url_for('user_blueprint.ajax_add2collection') }}";
    var url_for_remove = "{{ url_for('user_blueprint.ajax_remove_from_collection') }}";
</script>
{% if session["collection"] is defined %}
{% set collection = session["collection"] %}
{% else %}
{% set collection = [] %}
{% endif %}
<!-- Check if word is in collection (for contrasts) -->
{% set isCollected = false %}
{% if word.id in collection %}
{% set isCollected = true %}
{% endif %}
<div class="buttons">
    {% if isCollected %}
    <a class="w{{word.id}}show addwordbtn" href="#" style="display: none;"
        onclick="add_to_collection({{ word.id }}, url_for_add, event)" data-toggle="tooltip" data-placement="top"
        title="Add word to collection"><i class="fas fa-plus-circle"></i></a>
    <a class="w{{word.id}}show removewordbtn" href="#"
        onclick="remove_from_collection({{ word.id }}, url_for_remove, event)" data-toggle="tooltip"
        data-placement="top" title="Remove word from collection"><i class="fas fa-minus-circle"></i></a>
    {% else %}
    <a class="w{{word.id}}show addwordbtn" href="#" onclick="add_to_collection({{ word.id }}, url_for_add, event)"
        data-toggle="tooltip" data-placement="top" title="Add word to collection"><i class="fas fa-plus-circle"></i>
    </a>
    <a class="w{{word.id}}show removewordbtn" style="display: none;" href="#"
        onclick="remove_from_collection({{ word.id }}, url_for_remove, event)" data-toggle="tooltip"
        data-placement="top" title="Remove word from collection"><i class="fas fa-minus-circle"></i></a>
    {% endif %}
    {% if infobutton %}
    <a href="{{ url_for('user_blueprint.wordinfo', word_id=word.id) }}" data-toggle="tooltip" data-placement="top"
        title="See word info"><i class="fas fa-info-circle"></i></a>
    {% endif %}
</div>
{% endmacro %}