{% from 'macros.html' import group_card, word_card_buttons with context %}

{% macro MOmacro(MOset, index) %}
<div class="MO-wrapper shadow" style="overflow: scroll;">

    <!-- It shouldn't be possible for an MOset to be less than 3, but we check anyway -->
    {% if MOset|length >= 2 %}


    <!-- make a list of ids in this MO set -->
    {% set wordids = [] %}
    {% do wordids.append(MOset[0].w1.id) %}
    {% for pair in MOset %}
    {% do wordids.append(pair.w2.id) %}
    {% endfor %}

    {% set ns = namespace(collected = true) %}

    {% for id in wordids %}
    {% if not id in session["collection"] %}
    {% set ns.collected = false %}
    {% endif %}
    {% endfor %}



    <!-- show scrollable list of MO words -->
    <div class="MO-list-wrapper" id="MO-wrap-{{ index }}" style="position: relative">

        <div class="absolute-colour-overlay"></div>

        <div class="wordgroup" data-ids='{{ wordids | safe }}'>

            <a href="#" type="button" class="addgroupbtn addgroupbtn-MO btn"
                style="display: {{ 'none' if ns.collected else 'inline-block' }};"
                onclick="collect_many({{ wordids | safe }}, url_for_bulkmanage, event, remove=false)"
                data-toggle="tooltip" data-toggle="tooltip" data-placement="top" title="{{ tooltip_addMO }}"><i
                    class="fas fa-plus-circle shadow"></i>
            </a>
            <a href="#" type="button" class="removegroupbtn removegroupbtn-MO btn"
                style="display: {{ 'inline-block' if ns.collected else 'none' }};"
                onclick="collect_many({{ wordids | safe }}, url_for_bulkmanage, event, remove=true)"
                data-toggle="tooltip" data-placement="top" title="{{ tooltip_rmMO }}"><i
                    class="fas fa-minus-circle shadow"></i>
            </a>

        </div>

        {% set word1 = MOset[0].w1 %}
        <div class="card-title" style="position: relative; z-index: 2;"
            onmouseover="show_thumbnail('MO-wrap-{{ index }}', img{{ word1.id }}url)"
            onmouseout="hide_thumbnail('MO-wrap-{{ index }}')">

            <script>
                var img{{ word1.id }}url = "{{ url_for('static', filename='images/thumbnails/thumbnail_' + word1.image.name)}}";
            </script>
            {% if word1.image.name == "default.svg" or word1.image.name == "default.jpg" %}
            <span style="display: inline-block; width: 16px;"> {{ possible_img_icon(word1) }} </span>
            {% else %}
            <i class="fas fa-image"> </i>
            {% endif %}
            <b>
                {{ MOset[0].w1.word }} [{{ MOset[0].s1.sound }}]
                {{ word_card_buttons(MOset[0].w1) }}
            </b>


        </div>

        <div class="card-text" style="position: relative; z-index: 2;">

            {% for pair in MOset %}
            {% set word2 = pair.w2 %}
            <div class="MO-wrap-hoverable" onmouseover="show_thumbnail('MO-wrap-{{ index }}', img{{ word2.id }}url)"
                onmouseout="hide_thumbnail('MO-wrap-{{ index }}')">
                {{ possible_img_icon(word2) }}
                {{ word2.word }} [{{pair.s2.sound }}] {{ word_card_buttons(word2) }} <br>
            </div>
            {% endfor %}

        </div>

    </div>

    {% endif %}

    {% block script %}
    <script>
        function show_thumbnail(id, imgurl) {

            if (!imgurl.includes("default.")) {
                $("#" + id).css('background-image', 'url(' + imgurl + ')');
            }

        }
        function hide_thumbnail(id) {
            $("#" + id).css('background-image', 'none');
        }
        var url_for_bulkmanage = "{{ url_for('user_blueprint.ajax_collect_many') }}";
    </script>
    {% endblock %}

</div>
{% endmacro %}

{% macro possible_img_icon(word) %}
<!-- makes an icon if word has an image and sets background image on display element on hover -->
<!-- the display element can be entered as a string. Fx "this.parentNode.parentNode" -->
<script>
    var img{{ word.id }}url = "{{ url_for('static', filename='images/thumbnails/thumbnail_' + word.image.name)}}";
</script>
{% if word.image.name == "default.svg" or word.image.name == "default.jpg" %}
<i class="fas fa-image text-muted"> </i>
{% else %}
<i class="fas fa-image"> </i>
{% endif %}
{% endmacro %}





{% macro MOmacro2(word1, MOset) %}
<div class="item card" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55)">
    <div class="img-wrap">
    </div>

    <div class="card-body">
        <h5 class="card-title"><span class="line">{{ word1 }}</span></h5>
        <p class="card-text">
            {% for MO in MOset %}
            [{{ MO }}]<span>&#x2192;</span>[{{ "sound" }}]
            <br>
            {% endfor %}
        </p>
    </div>
    {{ word_card_buttons(word1) }}
</div>
{% endmacro %}