{% extends "layout.html" %}

{% block title %}
: Change word
{% endblock %}

{% block main %}

Ord: {{ word.word }}
<br>
{% for partner in partners %}
({{ partner.wordSound }} vs. {{ partner.partnerSound }}): {{ partner.word }}
<br>
{% endfor %}

{% for group in groups %}

<div class="card" style="width: 10rem; display: inline-block;">
    <div class="card-body">
        <h5 class="card-title">Group</h5>
        <p class="card-text">
            {% for member in group.members %}
            {{ member.word }} <br>
            {% endfor %}
        </p>
        <a href="#" class="card-link">Card link</a>
    </div>
</div>

{% endfor %}

{% endblock %}