{% extends "layout.html" %}


{% block title %}
- Stats
{% endblock %}

{% block main %}


<div class="content-section">
    <div class="stats-content-section">
        <h3>Senest søgte</h3>
        <div class="row">
            <div class="col-11 col-md-5">
                <h5>Sidste tre timer</h5>
                {% if last_3h %}
                there is last 3h
                <table>
                    <tr>
                        <th>Lyde</th>
                        <th>Par</th>
                        <th>Søgt</th>
                        <th>Seneste</th>
                    </tr>
                    {% for searched_pair in last_3h %}
                    <tr>
                        <td class="tds1">
                            {{ searched_pair.s1 }} - 
                            {{ searched_pair.s2 }}
                        </td>
                        <td>
                            {{ searched_pair.existing_pairs }}
                        </td>
                        <td>
                            {{ searched_pair.times_searched }}x
                        </td>
                        <td>
                            {{ searched_pair.last_searched | datetime_format(format="%H:%M") }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                Intet
                {% endif %}
            </div>

            <div class="col-11 col-md-5">
                <h5>Sidste 24 timer</h5>
                {% if last_day %}
                <table>
                    <tr>
                        <th>Lyde</th>
                        <th>Par</th>
                        <th>Søgt</th>
                        <th>Seneste</th>
                    </tr>
                    {% for searched_pair in last_day %}
                    <tr>
                        <td class="tds1">
                            {{ searched_pair.s1 }} - 
                            {{ searched_pair.s2 }}
                        </td>
                        <td>
                            {{ searched_pair.existing_pairs }}
                        </td>
                        <td>
                            {{ searched_pair.times_searched }}x
                        </td>
                        <td>
                            {{ searched_pair.last_searched | datetime_format(format="%H:%M") }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                Intet
                {% endif %}
            </div>

        </div>



        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Seneste uge
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-11 col-md-5">
                                <h5>Sidste uge</h5>
                                {% if last_week %}
                                <table>
                                    <tr>
                                        <th>Lyde</th>
                                        <th>Par</th>
                                        <th>Søgt</th>
                                        <th>Seneste</th>
                                    </tr>
                                    {% for searched_pair in last_week %}
                                    <tr>
                                        <td class="tds1">
                                            {{ searched_pair.s1 }} - 
                                            {{ searched_pair.s2 }}
                                        </td>
                                        <td>
                                            {{ searched_pair.existing_pairs }}
                                        </td>
                                        <td>
                                            {{ searched_pair.times_searched }}x
                                        </td>
                                        <td>
                                            {{ searched_pair.last_searched | datetime_format(format="%a %d. %H:%M") }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% else %}
                                Intet
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Seneste måned
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <h5>Sidste måned</h5>
                            {% for search_pair_list in last_month %}
                            <div class="col-11 col-md-6">
                                {% if last_month %}
                                <table>
                                    <tr>
                                        <th>Lyde</th>
                                        <th>Par</th>
                                        <th>Søgt</th>
                                        <th>Seneste</th>
                                    </tr>
                                    {% for searched_pair in search_pair_list %}
                                    <tr>
                                        <td class="tds1">
                                            {{ searched_pair.s1 }} - 
                                            {{ searched_pair.s2 }}
                                        </td>
                                        <td>
                                            {{ searched_pair.existing_pairs }}
                                        </td>
                                        <td>
                                            {{ searched_pair.times_searched }}x
                                        </td>
                                        <td>
                                            {{ searched_pair.last_searched | datetime_format(format="%d/%m") }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </table>
                                {% else %}
                                Intet
                                {% endif %}
                            </div>
                            {% endfor %} <!-- looping over 2d list of last month -->
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <h3>Mest populære ord i alt</h3>
        <div class="most-popular-words">
                {% for word in most_used_words %}
                <div class="pop-card">  
                    <p>{{ word.word }}</p>
                    <p>{{ word.times_used }}x</p>
                    <img src="{{ url_for('static', filename= 'images/thumbnails/' + word.image.name) }}" alt="">
                </div>
                {% endfor %}
        </div>

        <h3>Mest populære ord, der mangler billeder</h3>
        <div class="most-popular-words-wo-imgs">
            {% for word in most_used_words_wo_images %}
            <div class="row">
                <div class="col">
                    {{ word.word }}:
                </div>
                <div class="col">
                    {{ word.times_used }}x
                </div>
            </div>
            {% endfor %}
        </div>


        <h3>Mest populære par i søgninger</h3>
            {% for search, pairs in searches_pairs %}
                <div class="row">
                    <h5>
                        <span class="pairheader">[{{ search.s1 }}] [{{ search.s2 }}]</span> {{ search.times_searched }}
                    </h5>

                    <div class="col-12 examples-col">
                        {% for pair in pairs %}
                        <div class="pair-example">
                            {% if (pair.w1.image.name != "default.svg") or (pair.w2.image.name != "default.svg") %}
                            <div class="wxs">
                                <div class="xw1">
                                    <img src="{{ url_for('static', filename= 'images/thumbnails/' + pair.w1.image.name) }}" alt="">
                                </div>
                                <div class="xw2">
                                    <img src="{{ url_for('static', filename= 'images/thumbnails/' + pair.w2.image.name) }}" alt="">
                                </div>
                            </div>
                            {% endif %}
                            <div class="pwords">
                                {{ pair.w1.word }} <br>
                                {{ pair.w2.word }}
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
    </div>
</div> <!-- end of content section -->
    
    
{% endblock %}

{% block script %}

{% endblock script %}

