{% extends "layout.html" %}
{% from 'macros.html' import group_card, pair_card %}
{% from 'MOmacro.html' import MOmacro %}

{% block title %}
: Change word
{% endblock %}

{% block main %}

<style>
    .word-info-container .row {
        border: 2px solid black;
        border-radius: 16px;
    }

    .word-info-container h5 {
        width: 100%;
        font-weight: bold;
        ;
    }
</style>

<div class="container-fluid word-info-container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="word1-img-div">
                <img src="{{ url_for('static', filename='images/thumbnails/thumbnail_' + word.image.name)}}"
                    alt="image for the word '{{ word.word }}'">
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-4">
            <div class="title">

                <h1>{{ word.word }}</h1>
                <p>
                    "{{word.cue}}"
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <h5>Par</h5>
        <div class="slider owl-carousel">

            {% for pairList in pairLists %}
            {{ pair_card(pairList) }}
            {% endfor %}

        </div>

    </div>

    <script>
        $(".slider").owlCarousel({
            items: 4,
            loop: true,
            autoplay: true,
            autoplayTimeout: 6000,
            autoplayHoverpause: true,
            responsiveClass: true,
            smartSpeed: 2000,
            responsive: {
                0: {
                    items: 2
                },

                460: {
                    items: 3
                },

                1000: {
                    items: 4,
                }
            }

        });
    </script>

    <div class="row justify-content-between">
        <style>
            .col,
            .col-sm-6 {
                border: 2px solid blue;
            }
        </style>
        <h5 style="width: 100%">Multiple oppositioner</h5>
        {{ MOmacro(word.word, MOset) }}
        {% for MOset in MOsets %}
        <div class="col-12 col-sm-6">
            {{ MOmacro(word.word, MOset) }}
        </div>
        {% endfor %}

    </div>






</div>




{% for group in groups %}

{{group_card(group)}}

{% endfor %}



{% endblock %}