{% extends "layout.html" %}
{% from 'macros.html' import pair_card, group_card, word_card_buttons with context %}
{% from 'MOmacro.html' import MOmacro with context %}

{% block title %}
- {{ title_wordinfo }}'{{ word.word }}'
{% endblock %}

{% block submeta %}
<!-- page specific tags -->
<meta name="description" content="'{{ word.word }}': {{ wordinfo.description }}" />

<!-- page specific open graph -->
<meta property="og:description" content="{{ wordinfo.og_description }}'{{ word.word }}'" />
<meta property="og:image"
    content="{{ url_for('static', filename='images/thumbnails/' + word.image.name, _external=True)}}">
<meta property=" og:image:secure_url"
    content="{{ url_for('static', filename='images/thumbnails/' + word.image.name, _external=True)}}">
<meta property="og:image:alt" content="{{ wordinfo.og_image_alt }}" />
<meta property="og:title" content="{{ wordinfo.og_title }}'{{ word.word }}'" />
<meta property="og:url"
    content="{{ url_for('user_blueprint.wordinfo', locale=session.locale, word_id=word.id, _external=True) }}" />
<link rel="canonical"
    href="{{ url_for('user_blueprint.wordinfo', locale=session.locale, word_id=word.id, _external=True) }}" />


<meta property="og:image:width" content="{{ wordinfo.og_image_width }}" />
<meta property="og:image:height" content="{{ wordinfo.og_image_height }}" />
{% endblock %}

{% block main %}


<div class="word-font container-fluid word-info-container">
    <div class="row outer-row justify-content-sm-center justify-content-xl-between">
        <div class="col-xl-5">
            <div class="row inner-row justify-content-center">


                <div class="col-xl-6 order-xl-0 col-md-5 col-sm-5 col-8 cols-word text-center">
                    <div class="word1-img-div shadow">
                        <img class="wordinfo-image"
                            src="{{ url_for('static', filename='images/thumbnails/' + word.image.name)}}"
                            alt="image for the word '{{ word.word }}'">
                    </div>
                    {{ word_card_buttons(word, infobutton=false) }}

                </div>
                <div class="col-xl-12 order-xl-12 col-md-5 col-sm-8 cols-word align-self-xl-end text-center">
                    <div class="title align-self-end">

                        <h1>{{ word.word }}</h1>
                        <p><i>{{word.cue}}</i></p>
                        {% if word.image.name != "default.svg" %}
                        <p><i>{{ artist_wordinfo }}: {{ word.image.artist }}</i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <script> var pairCount = 0;</script>
        {% for pairList in pairLists %}
        <script> var pairCount = pairCount + 1;</script>
        {% endfor %}


        <div class="col-12 col-xl-7 col-pairs mt-5 mt-xl-0 shadow">
            <div class="slider owl-carousel owl-theme">
                {% for pairList in pairLists %}
                {{ pair_card(pairList) }}
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="row MO-row shadow outer-row justify-content-center mb-5">
        {% for MOset in MOsets %}
        <div class="col">
            {{ MOmacro(MOset, loop.index) }}
        </div>
        {% endfor %}
    </div>

    {% if (current_user.is_authenticated) and (current_user.has_role("Admin")) %}
    <div class="row outer-row group-row shadow">
        <div class="col">
            <div class="row m-0">
                {% for group in groups %}
                <div class="col col-md-3 m-1">
                    {{ group_card(group) }}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block script %}



<!-- For owl-carousel used in pairs<id> for displaying word's partners-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>

<script>
    console.log(pairCount);
    var loop = true;
    var responsiveClass = true;

    var owl = $(".slider");
    owl.owlCarousel({
        autoplay: true,
        loop: loop,
        autoplayTimeout: 6000,
        autoplayHoverpause: true,
        responsiveClass: responsiveClass,
        smartSpeed: 2000,
        dotsEach: true,
        //dots: true,


        responsive: {
            0: {
                items: getItems(2),
                loop: getLoop(2)
            },

            460: {
                items: getItems(3),
                loop: getLoop(3)


            },
            1000: {
                items: getItems(3),
                loop: getLoop(3)
            },


        },
    });

    function getItems(items) {
        console.log("calculating items")
        if (pairCount < items) {
            return pairCount;
        }
        else {
            return items;
        }
    }
    function getLoop(items) {
        console.log("calculating loop")
        if (pairCount < items) {
            return false;
        }
        else {
            return true;
        }
    }

</script>

{% endblock %}

