// Styles for the admin page for adding and pairing words

.my-form-groups {
    .form-group {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .btn-primary {
        background-color: $color-purp1;
        border: none;
        color: rgb(248, 212, 255);
    }
}
// Form in add.html for multiple selecting words to pair
.chosen-select {
    width: 100%;
}

// Pair sound table: Dynamically generated for defining pairs' sounds
.pairSoundTable {
    padding: 0 5px 10px;

    .marked {
            background-color: rgba($color-purp2, 0.2);
    }
    input, label {
        display: block;
        margin: auto;
    }
    label {
        height: 52px;
        margin: 0;
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .tickwrap {
        height: 35px;
    }

    .pstrow {
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        .pstcol {
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: center;
            .sound_input_field {
                margin: auto;
                height: 24px;
            }
        }
    }


}

// The image upload input fields in add.html
.add-file-label {
    // "Browse" button (pseudo element in WTForms FileField)
    &::after {
        color: #17a2b8;
        background-color: transparent;
        background-image: none;
        border-color: #17a2b8;
    }
    &:hover {
        &::after {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
    }
}



.chosen-container {
width: 100%;
    .chosen-results li.suggested-result {
        display: list-item;
        cursor: pointer;
        font-weight: 900;
        background-color: aliceblue;
        color: blue;
    }
}

.word-suggestions {
padding: 0;
display: flex;
flex-direction: row;
margin: 0 -3px;
flex-wrap: wrap;
    .word-suggestion {
        background-color: $color-red2;
        border: 1px solid $color-red1;
        border-radius: $border-radius-modals;
        margin: 3px;
        padding: 1px 7px;
    }
}

.fillme {
    border: 1px solid $color-purp2;
    border-radius: 13px;
}

.admin-ipa-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    margin: 0;
}