// Styles for chackout and thankyou and cancel

.checkoutcontainer {

    .checkoutrow {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
        max-width: 1000px;
        margin: auto;

        $cardwidth: 210px;
        $margwidth: 20px;

        .donation-text {
            width: 100%;
            text-align: left;
            margin-bottom: 30px;
            p {
                margin: auto;
                max-width: ($cardwidth * 3) + ($margwidth * 4);
                @media only screen and (max-width: 1085px) {
                    max-width: ($cardwidth * 2) + ($margwidth * 2);
                }
                margin-bottom: 10px;
            }

        }
        
        .productcard {
            
            cursor: pointer;
            width: $cardwidth;
            height: 250px;
            margin: $margwidth;
            padding: 10px;
            padding-top: 30px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            
            border-radius: $border-radius-modals;
            background-color: $color-yel3;
            
            text-align: center;
            .price-tag {
                font-size: 40px;
                font-weight: 900;
            }

            img, .ppicon {
                //width: 180px;
                height: 58%;
                font-size: 90px;
                color: $color-purp1;
                margin-bottom: auto;
                //margin-bottom: 10px;;
            }
            p {
                margin-bottom: 0;
            }

            .button {
                margin-bottom: 20px;
            }

        }
    }

    .paypal-btn {
        margin-bottom: 40px;
        margin-top: 40px;
        text-decoration: none;
        color: inherit;
    }
}

// For cancelled and thankyou templates:
.after-checkout-row {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    padding: 30px;
    // flex-direction: column-reverse;
    justify-content: center;
    // align-items: center;
    .col-12 {
        display: flex;
        justify-self: center;
    }
}

.thankyouimage {
    width: 500px;
    margin: auto;
    max-width: 100%;
}