// Styling for word info (pairs<id>)
//$color-purp2: #915491;
@import "variables";


.pdfgenerator {
    
    
    align-content: center;
    //font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 0;
    width: 600px;
    max-width: 100%;

    .background-choices {
        padding: 0;
    }
    .row {
        justify-content: center;
        margin: 0;

    }

    legend {
        width: auto;
    }

    fieldset {

        border-radius: 15px;
        background-color: $color-red1-transparent;
        margin: 0;
        padding-bottom: 20px;
        
        .row {
            margin-top: 20px;
            .col {
                max-width: 130px;
                padding: 10px;
            }
        }

    }
    

    .bg-btn-wrap{
        background-size: cover;
        // background-image is set on element with jinja
        position: relative; // so there can be a semitransparent background colour behind the text in the button
        border-radius: 13px;

        &:active {

            height: 108px;
            width: 99%;
            margin-left: 1px;
            margin-top: 1px;
        }

        .btn-check:focus+.btn, .btn:focus, .btn-check:checked+.btn, .btn:checked {

                border: 1px solid $color-yel2;
                box-shadow: 0 0.1rem 0.5rem $color-yel2 !important;
                border-radius: inherit;
                transition: none;
            
        }




        
        
        .bgexample {

            height: 110px;
            margin: 0;
            /* top and bottom padding must add up to 100% because they determine the height and makes div be square */
            //padding-bottom: 75%;
            //padding-top: 25%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            //background-repeat: repeat;
            border: none;
            border-radius: inherit;
            font-size: 16px;
            image-rendering: -webkit-optimize-contrast;
            background-color: none;
            position: inherit;
            z-index: 1;


        }
        .text-background {
            position: absolute;
            height: 2.5rem;
            background-color: rgba($color-yel3, 0.5);
            width: 100%;
            //top: 26%;
            z-index: 0;
            bottom: 0;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;

        }
    }



    button {
        border-radius: 15px;
        border: none;
        margin: 15px;
        font-size: larger;
        background-color: $color-purp2;
        color: $color-purp1;
        padding: 8px 15px;
        width: fit-content;
        &:hover {
            cursor:pointer;
            }
        }
    .pdfbtn {
        margin: 0;
    }

}

.sorry {
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    p {
        color: $color-purp1;
        font-size: larger;
    }
}


.newcroppermodal {

    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }
}
.cropper_styles {


    /* Ensure the size of the image fit the container perfectly */
    img {
        display: block;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }
    
}
.custom-file-input {
    display: none;
}
.file-label {
    margin: 6px 3px;
}