// Styling for word info (pairs<id>)
//$color-purp2: #915491;
@import "variables";

.collectionpage-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pdfgenerator {
    
    align-content: center;
    //font-family: Arial, Helvetica, sans-serif;
    margin-top: 8%;
    margin-bottom: 0;
    width: 600px;
    max-width: 100%;

    .btn-wrap {
        button {
            min-width: 237px;
        }
        min-height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-choices {
        padding: 0;
    }
    .row {
        justify-content: center;
        margin: 0;

    }

    legend {
        width: auto;
    }

    .pdf-generator-dropdown {

        border-radius: $border-radius-modals;
        background-color: $color-red1-transparent;
        margin: 0;
        padding-bottom: 20px;
        
        .row {
            .bgx-col {
                max-width: 130px;
                padding: 5px;
            }
        }

        .pdf-showcase {
            //width: 100%;
            padding: 20px;
            .pdf-showcase-inner {
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: $border-radius-modals;
                padding: 20px;

            }

            .pdf-example {

            }
            .pdfbtn {
                margin: 20px;
                width: max-content;
            }
        }

    }
    

    .bg-btn-wrap{
        background-size: cover;
        // background-image is set on element with jinja
        position: relative; // so there can be a semitransparent background colour behind the text in the button
        border-radius: $border-radius-modals;

        &:active {

            height: 108px;
            width: 99%;
            margin-left: 1px;
            margin-top: 1px;
        }

        .btn-check:focus+.btn, .btn:focus, .btn-check:checked+.btn, .btn:checked {

                border: 1px solid $color-yel2;
                box-shadow: 0 0.1rem 0.5rem $color-yel2 !important;
                border-radius: inherit;
                transition: none;
            
        }




        
        
        .bgexample {

            height: 110px;
            margin: 0;
            padding-bottom: 0;
            /* top and bottom padding must add up to 100% because they determine the height and makes div be square */
            //padding-bottom: 75%;
            //padding-top: 25%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            //background-repeat: repeat;
            border: none;
            border-radius: inherit;
            font-size: 16px;
            image-rendering: -webkit-optimize-contrast;
            background-color: none;
            position: inherit;
            z-index: 1;


        }
        .text-background {
            position: absolute;
            height: 25px;
            background-color: rgba($color-yel3, 0.6);
            width: 100%;
            //top: 26%;
            z-index: 0;
            bottom: 0;
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;

        }
    }



    button {
        border-radius: $border-radius-modals;
        border: none;
        margin: 15px;
        font-size: large;
        background-color: $color-purp2;
        color: $color-purp1;
        padding: 8px 15px;
        width: fit-content;
        &:hover {
            cursor:pointer;
            }
        }
    .pdfbtn {
        margin: 0;
    }

}

.sorry {
    padding: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    p {
        color: $color-purp1;
        font-size: larger;
    }
}


.newcroppermodal {

    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }
}
.cropper_styles {


    /* Ensure the size of the image fit the container perfectly */
    img {
        display: block;
        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }
    
}
.custom-file-input {
    display: none;
}
.file-label {
    margin: 6px 3px;
}


.boardgame-wizard-modal {

    ul {
        list-style: none;
    }

    .sw-theme-default>ul.step-anchor>li {
        &.active, &.active > a, &.done, a {
            color: $color-purp1 !important;
        }
    }

    .sw-theme-default {

        .step-content {
            width: 100%;
            border: 2px solid darken($color-red2, 7%);
            border-radius: $border-radius-modals;
        }
        .nav-tabs {
            border-bottom: none;
        }

    }

    .modal-header {
        border-bottom: none;
        .close {
            display: none;
        }
        .customclose {
            display: flex;
            color: $color-purp1;
            background: none;
            border: none;
            &:hover {
                color: $color-purp1;
                opacity: 0.6;
            }
        }
    }

    .modal-content {
        background-color: $color-red2;
        border-radius: $border-radius-modals;
        .theme-selector {
            .row {
                margin: 10px 0;
                height: fit-content;
                [class*="col-"] {
                    display: flex;
                    align-items: center;
                    //height: 157px;
                    flex-direction: column;
                    @media only screen and (min-width: 992px) {
                        padding: 0 90px;
                    }
                    padding: 0 17px;;
                }
                .img-wrapper {
                    padding: 4px;
                    width: 193px;
                    max-height: 100%;
                    &:hover {
                        padding: 0;
                    }
                    &.selected {
                        padding: 0;
                    }
                }
                .pdf-example {
                    max-width: 100%;
                    max-height: 100%;
                    &.selected {
                        //border: 2px solid $color-red2;
                        filter: drop-shadow(2px 1px 13px $color-purp3);
                    }
                }
            }
        }
    }

    // Bottom with previous/next buttons
    .sw-theme-default {
        box-shadow: none;        
        .sw-toolbar {
            background-color: $color-red2;
        }
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: $color-purp2;
        outline: 0;
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
    }
    
    .btn-secondary:focus {
        box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
    }
    
    .close:focus {
        box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
    }
    
    .mt-200 {
        margin-top: 200px
    }
    ul.step-anchor>li {
        &.done>a::after{
            background: darken($color-red2, 7%) !important;
            -webkit-transform:scale(1);
            -ms-transform:scale(1);
            transform:scale(1);
        }
        &.active>a::after{

            background:#130e11 !important;
            -webkit-transform:scale(1);
            -ms-transform:scale(1);
            transform:scale(1);
        }
    }
    .btn-secondary {
        color: $color-purp1;
        // Remaining styles copied straight from main-btn (can't change class)
        border-radius: $border-radius-modals;
        font-size: 20px;
        background-color: $color-purp2;
    
        margin-top: 15px;
        height: 38px;
        min-width: 40px;
        background: $color-purp2;
        font-size: 17px;
        border-radius: $border-radius-modals;
        border: none;
        &:hover {
        cursor:pointer;
        }
    }

    // Sortable
    #step-2-sortable_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .connectedSortable {
            width: 150px;
            margin: 2px;
            padding: 5px;
            border-radius: 5px;
            background-color: $color-purp3;
            &.error {
                background-color: rgba($color-red2, 0.5);
            }
        }
    }
    .sortable-feedback {
        color: $color-purp1;
        text-align: center;
        margin-bottom: 10px;
        &.error {
            color: $color-red1;
        }
    }
    .mobile-alert {
        text-align: center;
        color:rgba(171, 0, 43, 1)
    }
}

