@import "variables";
// pretty ipa container used in contrasts




// For contrasts.html **************************
.contrasts-box {

    margin-top: 10px;
    margin-bottom: 20px;
    color: $color-purp1;
    align-content: center;
    //font-family: Arial, Helvetica, sans-serif;

        .search-collapsable {
            margin-top: 30px;
        }

    .removeallbtn {
        background-color: $color-red1;
        i {
            color: $color-purp1;
        }
    }

    .search-tabs-flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        .search-tabs {
            width: 600px;
            max-width: 100%;
            @media only screen and (max-width: 620px) {
            width: 340px;
            }
        }
    }

    .search-sounds-field {

         input, select, .chosen-container .chosen-choices {
            //margin-bottom: 15px;;
            min-width: 40px;
            height: 40px;
            border: 1px solid $color-purp2;
            border-radius: 3px;
            vertical-align: bottom;
            font-size: 15px;
            background: $color-yel3;
            //padding-left: 7px;
            padding-top: 5px;
            text-align: center;

        }

    }
    

    .MO-search-sounds-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contrast-title-text {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        .ipa-font {
            font-size: 25px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .feedback-text {
            width: 600px;
            max-width: 100%;
            font-size: 20px;
        }
        .result-count {
            font-size: 18px;
        }

    }

    .page-selector {
        text-align: center;
        a {
            text-decoration: none;
            padding: 0 5px;
        }
        .current-page-link {
            font-weight: 900;
            border-bottom: 2px solid $color-purp1;
        }
    }
}


.contentbox {
    width: 100% !important;
    padding: 15px; 
    margin-bottom: 150px;
    [class*="col-"] {
        display: flex;
        justify-content: center;
    }
    .row {
        position: relative;
        width: 600px;
        max-width: 100%;
        margin: auto;
        border-radius: $border-radius-modals;
        @media only screen and (max-width: 620px)
        {
            width: 340px;
        }
    }
    .MO-row { // Mainly styled in crosspage
        margin-bottom: 20px !important;
    }
}

.wordcard {
margin-top: 20px;
margin-bottom: 10px;
        // Adjusting image height the tedious way to align with width
        @media only screen and (max-width: 576px) {
            //border: 3px solid red;
            height: auto;
            max-height: 300px;
        }
        @media only screen and (min-width: 576px) {
            //border: 3px solid rgb(0, 60, 255);
            height: 270px;
        }
        @media (min-width: 768px) {
            //border: 3px solid rgb(0, 153, 0);
            height: 270px;
        }
        @media (min-width: 992px) {
            //border: 3px solid rgb(146, 0, 190);
            height: 290px;
        }

    .img-container {

        height: 70%;
        overflow: hidden;
        .card-img-top {
            // Finds the middle of the image and crops to fit container
            /* max-width: 100%;  width of container */
            height: 100%; /* height of container */
            object-fit: cover;
            object-position: 50% 50%;
                
        }
    }
    .card-body {
        
        height: auto; //adjusts to the height of .img-container
        padding: 0.35rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .card-title {
            font-size: 25px;
            //font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            margin-bottom: 0.1rem;
            @media only screen and (max-width: 576px) {
                font-size: 25px;
            }
        }
    }
}





.nav-tab-wrapper {
    overflow: hidden;

    .nav-tabs {
        border: 0;

        .nav-item {
            
            border-top-left-radius: $border-radius-modals; // must be applied to both nav-link and nav-item
            border-top-right-radius: $border-radius-modals; // must be applied to both nav-link and nav-item
            @media only screen and (max-width: 370px) { 
                // This max width is where the tabs wrap on top of each other given the current size of content and width
                width: 50%;
            }
            .nav-link {
                border-top-left-radius: $border-radius-modals; // must be applied to both nav-link and nav-item
                border-top-right-radius: $border-radius-modals; // must be applied to both nav-link and nav-item
                background-color: inherit;
                border: none;
                color: $color-purp1;
                height: 100%;
                &.active {
                    border: none;
                    //box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35)
                    
                }
            }
        }

    }
}

  .tab-content {
      //padding: 15px;
      .tab-pane {
        padding: 10px;
        padding-top: 15px;
        border-bottom-left-radius: $border-radius-modals;
        border-bottom-right-radius: 15%;
        margin-bottom: 30px;
        @media only screen and (min-width: 371px) { 
            border-radius: $border-radius-modals;
        }
        color: $color-purp1;
        min-height: 200px;

        .subtitle-sound-search {
            margin-top: 10px;
            font-size: 18px;
        }

        .form-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            min-height: 180px;
        }
        
        .error-p {
            margin-top: 20px;
            margin-bottom: 0;
        }

    }
  }

