

.shadow {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.alert {
    position: absolute !important;
    left: 0;
    right: 0;
}

// ipa picker used in add.html and contrasts.html as macro
.ipa_picker {
    a {
        
        color: black;
        font-size: 30px;
        padding: 5px;
        font-family: "Times New Roman";
        @media only screen and (max-width: 350px) {

        padding-top: 7px;
        font-size: 1.5rem;

        }
    }
    span.line {
    display: inline-block;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media only screen and (max-width: 350px) {
        // Change flex direction if you want to display buttons differently
        // flex-direction: column;
    }
    .fas {
        font-size: 20px;
    }

    a {
        margin: 6px 3px;
        margin-bottom: 2px;
        color: $color-purp2;

    }

}
// All these icons must alawys be green and red
.fa-minus-circle {
    color: red;
}
.fa-plus-circle {
    color: green;
}