.error-message {

    margin: 70px 0px;
    padding: 0px 15px;
    text-align: center;
    color: $color-purp1;

    h1, .h1 {
        font-size: 4rem;
    }

    img {
        width: 300px;
        max-width: 100%;
    }
}