// This file contains all style for the front page (but not the layout base template)

// I have to declare the sass variable here for now, because when I import it
// the sass variables aren't imported as sass. I am using it here in a sass funciton.


.frontpage-container {

    overflow: visible;


    .illustration-container {
        padding: 0;
        overflow: visible;
        position: relative;
        height: 150vw;

                    @media (min-width: 400px) {
                        height: 120vw;
                    }
                    // Small devices (landscape phones, 576px and up)
                    @media (min-width: 576px) {
                        height: 118vw;
                    }
                    // Medium devices (tablets, 768px and up)
                    @media (min-width: 830px) {
                        height: 75vw;
                    }
                    // Large devices (desktops, 992px and up)
                    @media (min-width: 992px) {
                        height: 70vw;
                    }
                    // Extra large devices (large desktops, 1200px and up)
                    @media (min-width: 1200px) {
                        height: 60vw;
                    }
        
        #illustration {
            position: absolute;
            z-index: -1;
            overflow: visible;

            // On phone screen, portrait
            transform-origin: center;
            transform: scale(3.5, 3.5) translate(9%, 18%);
            
            // Small devices (landscape phones, 576px and up)
            @media (min-width: 576px) {
                transform: scale(2.5, 2.5) translate(3%, 18%);
            }
            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                transform: scale(2, 2) translate(0%, 12%);
            }
            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                transform: scale(1.8, 1.8) translate(-4%, 6%);
            }
            // Extra large devices (large desktops, 1200px and up)
            @media (min-width: 1200px) {
                transform: scale(1.3, 1.3) translate(-10%, -2%)
            }
        }
        
    }
    .text-container {
    font-size: 14px;
    font-weight: normal;
    position: relative;
    margin-bottom: 50%;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        //top: 30%;
    }
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        padding-left: 2%;
        //top: 25%;
    }
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        padding-left: 5%;
        //top: 20%;
    }
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        
        //top: 15%;
    }

    [class*="col-"], .col {
        color: lighten($color-yel2, 5%);
        //margin: 40px 0px;
        
    }
    
    .about-text {
        padding: 0;
        //margin-left: 30px;
        .text-wrapper {
            width: 100%;
            max-width: 540px;
            padding: 35px;
            background-color: rgba($color-purp1, 1);
            border-radius: 30px;
            
            position: relative;

            h1 {
                font-size: 30px;
            }
            // .biggercircle {
                
            //     position: absolute;
            //     width: 200%;
            //     height: 120%;
            //     border-radius: 50%;
            //     left: -70%;
            //     top: -10%;
            //     z-index: -1;
            //     @media (max-width: 500px) {
            //         width: 350%;
            //         left: -150%;
            //     }

            // }
            dd {
                margin-left: 20px;
            }
    
        }
    }

    #planet {
        fill: $color-purp1;
        display: none;
        @media (max-width: 390px) {
            position: absolute;
            display:inline;
            top: 20%;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }
    }

}

#illustration {
    #inner-c {
        stop-color: var(--color-yel2-sun);
    }
    #outer-c {
        stop-color: var(--color-red2);
    }
    #sky {
        fill: url(#sun-gradient);
    }
    .rays-lin-stop1 {
        stop-color: var(--color-red1);
    }

    #sun {
        fill: var(--color-red1);
        #sunrays {
            fill: url(#sunrays-gradient);
        }
    }
    #cat-chair-hill {
        fill: var(--color-purp1);
    }
}
