@import "variables";

.navbar {

    background-color: var(--color-purp2);
    padding: 1.3%;

    .nav-link {
        font-size: 18px;
        text-align: center;

    }

    a {

        margin: 0;

        @media only screen and (min-width: 575px) {
            // Corresponds to Bootstrap's sm breakpoint used by class on navbar-toggler
            margin: 6px;
            &.navbar-brand {
                /* size for brand */
                margin-right: 20px;
                margin-left: 30px;
            }
        }
        .logo {
            width: 40px;
            height: 40px;
            padding-left: 8px;
            
        }
        border: 0px dotted purple;
        color: var(--color-purp1);
    }
    #catlogo {
        fill: var(--color-purp1);
    }
    .navbar-brand {
        font-size: xx-large;
    }

    .navbar-toggler{
        font-size: 2rem !important;
        padding: 0;
    }
    .navbar-toggler-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 120%;
        margin: 0;
        width: 30px;

        .fas {
            color: $color-purp1;
        }
    }

    .dropdown {
        //width: 78px;
        .earthicon {
            fill: $color-purp1;
            width: 30px;
        }

        .dropdown-menu {
            //width: 78px;
            min-width: 100%;
            background-color: rgba($color-purp3, 0.7);
            border: 0;
            color: $color-purp1;
            .dropdown-item {
                padding: 0;
                margin: 0;
                text-align: center;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
                .flag-icon {
                    border-radius: 50%;
                }
            }
        }
    }

}
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px; // must be same height as footer
    background-color: var(--color-red2);
    background: radial-gradient(
        circle at 0px 500px,
        $color-yel2 600px,
        $color-red2 110%);
    background-repeat: no-repeat;

    background-attachment: fixed;
    box-sizing: border-box;
}


footer {
    position: absolute;
    background: $color-purp2;
    color: $color-purp1;
    a {
        color: black;
    }
    padding: 20px;
    padding-bottom: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
}