@import "variables";

.navbar {

    background-color: var(--color-purp2);
    padding: 1.3%;
    padding-top: 10px;
    padding-bottom: 26px;

    .nav-link {
        font-size: 18px;
        text-align: center;
        padding: 0;
        margin-bottom: 12px; // used to align manually with SVG text logo
        display: flex;
        align-items: flex-end;

        &:hover {
            color: unset;
        }
    }

    a {
        margin: 20px 6px;
        height: 40px;
        
        
        .logo {
            width: 40px;
            height: 100%;
            padding-left: 8px;
            
        }
        
        .logotext {
            height: 100%;
            padding-top: 12px; //also used to align  manually wtith logo and nav links
            
            img {
                width: 200px;
            }
        }
        border: 0px dotted purple;
        color: var(--color-purp1);
    }
    .hamburger {
        padding-top: 7px !important; // also used to align manually with SVG text logo
    }


    #catlogo {
        fill: var(--color-purp1);
    }
    .navbar-brand {
        font-size: xx-large;
    }


        border: 1px olid green;
        .navbar-nav {
            align-items: center;
        }
    

    .navbar-toggler{
        font-size: 2rem !important;
        padding: 0;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .navbar-toggler-icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 120%;
        margin: 0;
        width: 30px;

        .fas {
            color: $color-purp1;
        }
    }

    .dropdown {

        display: flex;
        flex-direction: column;
        align-items: center;

        .earthtoggle {
            padding-top: 12px; // also used to align manually with text logo
            &::after {
            display: none;
            }
        }
        .earthicon {
            fill: $color-purp1;
            width: 30px;
        }

        .dropdown-menu {
            //width: 78px;
            min-width: 70px;
            background-color: rgba($color-purp3, 0.7);
            border: 0;
            color: $color-purp1;
            .dropdown-item {
                padding: 12%;
                margin: 0;
                text-align: center;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
                .flag-icon {
                    border-radius: 50%;
                }
            }
        }
    }

}
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
    // padding-bottom: 100px; // must be same height as footer
    background-color: var(--color-red2);
    background: radial-gradient(
        circle at 0px 500px,
        $color-yel2 600px,
        $color-red2 110%);
    background-repeat: no-repeat;

    background-attachment: fixed;
    box-sizing: border-box;

    // for century gothic font
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}


footer {
    // position: absolute;
    background: $color-purp2;
    color: $color-purp1;
    a {
        color: black;
    }
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: $footer-margin-top;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content; 
}