// Styles for the admin page for problems

.problems-content-section {

    .row {
        margin: 0 !important;
        padding: 0 !important;
    }
    .col {
        margin: 0 !important;
        padding: 0 !important;
    }

    margin: 40px;
    min-height: 500px;
    @media only screen and (max-width: 900px) {
        margin-left: 20px;
        margin-right: 20px;
    }    
    @media only screen and (max-width: 500px) {
        margin-left: 5px;
        margin-right: 5px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        //height: 240px;
        .li-marked {
            background-color: rgba($color-purp2, 0.2);
        }
    }

    .problem-showcase {
        max-width: 100%;
    }
    
    .grouprow {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;

    }

    .paircol {
        height: fit-content;
        padding: 8px 0 0 0 !important;
        text-align: center;
    }

    .celebration {
        height: 400px;
        text-align: center;
        vertical-align: middle;
        padding-top: 150px;
        font-size: 50px;
    }

}