// Styles for the admin page for problems

.stats-content-section {
    .row {
        margin-bottom: 40px;
        justify-content: space-around;
        align-items: center;
    }
    h5, h3 {
        margin-top: 30px;
    }
    .pairheader {
        width: 110px;
    }
    .examples-col {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .pair-example {
            display: flex;
            flex-direction: column;
            background-color: $color-purp3;
            padding: 2px;
            margin: 2px;
            min-width: 104px;
            .wxs {
                display: flex;
                flex-direction: row;
                .xw1, .xw2 {
                    width: 50px;
                    overflow-wrap: break-word;
                    img {
                        width: 100%;
                    }
                }
            }
            .pwords {
                width: 100%;
            }
        }
    }

    table {
        padding: 20px;
        width: 100%;

        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 0 10px;
        }

    }

    .accordion-item {
        background-color: unset;
        .accordion-button {
            
            background-color: $color-purp2;
            &:not(.collapsed) {
                color: unset;
            }
            &::after {
                display: none;
            }
        }
    }
    
    .most-popular-words-wo-imgs {
        .row {
            justify-content: left;
            margin: 5px;
            background-color: $color-purp3;
            .col {
                padding: 1px;
            }
        }
        column-count: 4;
        @media only screen and (max-width: 700px) {
            column-count: 3;
        }
        @media only screen and (max-width: 450px) {
            column-count: 2;
        }
        @media only screen and (max-width: 350px) {
            column-count: 1;
        }
    }

    .most-popular-words {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .pop-card {
            width: 60px;
            margin: 2px;
            padding: 2px;
            background-color: $color-purp3;
            p {
                margin-bottom: 2px;
            }
            img {
                width: 100%;
            }
        }
    }
}