// Styles for the admin page for problems

.stats-content-section {
    .row {
        margin-bottom: 40px;
        justify-content: space-around;
        align-items: center;
    }
    h5, h3 {
        margin-top: 30px;
    }
    .pairheader {
        width: 110px;
    }
    .examples-col {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .pair-example {
            display: flex;
            flex-direction: column;
            border: 2px solid $color-purp1;
            .wxs {
                display: flex;
                flex-direction: row;
                .xw1, .xw2 {
                    width: 50px;
                    overflow-wrap: break-word;
                    img {
                        width: 100%;
                    }
                }
            }
            .pwords {
                width: 100%;
            }
        }
    }

    table {
        padding: 20px;
        width: 100%;

        th, td {
            border: 1px solid black;
            text-align: center;
            padding: 0 10px;
        }

    }

    .accordion-item {
        background-color: unset;
        .accordion-button {
            
            background-color: $color-purp2;
            &:not(.collapsed) {
                color: unset;
            }
            &::after {
                display: none;
            }
        }
    }
        
}