:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #FE766A;
  --color-yel1: #FE9055;
  --color-yel2: #ffc851;
}

.ipa-container {
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgba(194, 194, 194, 0.461);
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .ipa-container {
    width: 340px;
  }
}

@media only screen and (max-width: 350px) {
  .ipa-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.titlebox {
  background-color: #c99bb8;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  margin-bottom: 50px;
}

.titlebox .title-text {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 30px;
}

@media only screen and (max-width: 576px) {
  .titlebox .title-text {
    font-size: 1.5rem;
  }
}

.titlebox p {
  padding-bottom: 20px;
}

.titlebox button {
  border-radius: 15px;
  font-size: larger;
  margin-bottom: 50px;
  background-color: #915491;
}

.titlebox .search-sounds-field {
  padding-bottom: 40px;
}

.titlebox .search-sounds-field input {
  margin-bottom: 15px;
  font-size: 20px;
}

.titlebox .search-sounds-field button {
  margin-left: 15px;
  height: 38px;
  width: 40px;
  background: #915491;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border: none;
}

.titlebox .search-sounds-field button:hover {
  cursor: pointer;
  background: #370e2f;
}

.contentbox [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wordcard {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  .wordcard {
    height: 227px;
  }
}

@media only screen and (min-width: 576px) {
  .wordcard {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .wordcard {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .wordcard {
    height: 281.4px;
  }
}

.wordcard .img-container {
  overflow: hidden;
}

.wordcard .img-container .card-img-top {
  max-width: 100%;
  /* width of container */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.wordcard .card-body {
  height: 50%;
  padding: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wordcard .card-body .card-title {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 576px) {
  .wordcard .card-body .card-title {
    font-size: 25px;
  }
}

.wordcard .card-body .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wordcard .card-body .buttons a {
  margin: 6px 3px;
  color: #370e2f;
}
/*# sourceMappingURL=contrasts.css.map */