@charset "UTF-8";
/* Old, light yellow theme:
$color-purp1: #3b1734; //kat og tekst
$color-purp2: #995f8b; // hat og navbar. Meta tag theme-color must be same as this in layout.html
$color-purp3: #caabbf; //lysere navbar?
$color-red1: #eb757d; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #eba48b; // mørk himmel blend
$color-yel1: #f3b08c; // ?
$color-yel2: #f8d894; // Himmelen
$color-yel3: #fffae9; // Næsten hvid
*/
:root {
  --color-purp1: #3b1734;
  --color-purp2: #995f8b;
  --color-purp3: #caabbf;
  --color-red1: #e98289;
  --color-red1-transparent: #fe586396;
  --color-red2: #efa19c;
  --color-yel1: #f3b08c;
  --color-yel2: #dec7d6;
  --color-yel2-sun: #f8d894;
  --color-yel3: #fff8fb;
}

.orangebg {
  background-color: #efa19c;
}

.redbg {
  background-color: #e98289;
}

.purpletransbg {
  background-color: rgba(59, 23, 52, 0.9);
}

.shadow {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) !important;
}

.word-font {
  font-family: Arial, Helvetica, sans-serif;
}

.alert-wrapper {
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 20px;
}

.alert-wrapper .alert {
  border: none;
  border-radius: 0;
  color: #3b1734;
  background-color: #995f8b;
}

.alert-wrapper .alert-danger {
  color: #3b1734;
  background-color: #e98289;
}

.main-btn {
  border-radius: 7px;
  font-size: 20px;
  margin-top: 15px;
  height: 38px;
  min-width: 40px;
  background: #995f8b;
  font-size: 17px;
  border-radius: 7px;
  border: none;
}

.main-btn:hover {
  cursor: pointer;
}

.ipa-container {
  margin: 50px auto;
  border: 2px solid #3b1734;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.212);
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .ipa-container {
    width: 340px;
  }
}

@media only screen and (max-width: 350px) {
  .ipa-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ipa-container .ipa_picker {
  padding: 10px;
}

.ipa-container .ipa_picker a {
  color: #3b1734;
  font-size: 30px;
  padding: 4px;
  font-family: "Times New Roman";
  text-decoration: none;
  text-align: center;
}

@media only screen and (max-width: 350px) {
  .ipa-container .ipa_picker a {
    padding-top: 7px;
    font-size: 1.5rem;
  }
}

.ipa-container .ipa_picker span.line {
  display: inline-block;
}

.ipa-font {
  font-family: "Times New Roman" !important;
  font-weight: 300 !important;
  font-size: large;
}

.sound_input_field {
  font-family: "Times New Roman";
  font-size: 20px !important;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .fas {
  font-size: 20px;
}

.buttons a {
  margin: 6px 3px;
  margin-bottom: 2px;
  color: #995f8b;
}

/* Ensure the size of the image fit the container perfectly */
.fa-minus-circle {
  color: #e98289;
}

.fa-plus-circle {
  color: #3b1734;
}

.fa-upload {
  color: #3b1734;
}

.fa-circle {
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff8fb;
}

.fa-search {
  color: #3b1734;
}

.card {
  background-color: #fff8fb;
}

.MO-row {
  border-radius: 3px;
  background: #e98289;
  margin: 0;
}

.MO-row .MO-col {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 300px;
  min-width: 267px;
  font-family: Arial, Helvetica, sans-serif;
}

.MO-row .MO-col .MO-wrapper {
  background: #fff8fb;
  margin: 8px;
  border-radius: 3px;
  height: 250px;
}

.MO-row .MO-col .MO-wrapper .MO-list-wrapper {
  padding: 30px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  background-blend-mode: normal;
}

.MO-row .MO-col .MO-wrapper .MO-list-wrapper .buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.MO-row .MO-col .MO-wrapper .absolute-colour-overlay {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 370px) {
  .MO-row .MO-col {
    min-width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .MO-row {
    width: 340px;
  }
}

.addgroupbtn-MO, .removegroupbtn-MO, .addgroupbtn-pair, .removegroupbtn-pair {
  position: absolute;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

.addgroupbtn-MO i, .removegroupbtn-MO i, .addgroupbtn-pair i, .removegroupbtn-pair i {
  background: none;
  border-radius: 50%;
  font-size: 34px;
}

.addgroupbtn-pair, .removegroupbtn-pair {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15%;
}

.addgroupbtn-MO, .removegroupbtn-MO {
  right: 3%;
  top: 3%;
}

.help-container {
  position: relative;
  text-align: center;
}

.help-container .texthighlight {
  color: #3b1734;
  background: #caabbf;
  padding: 0px 9px;
  border-radius: 4px;
}

.help-container .help-btn {
  padding: 0;
  margin: 0;
  border: 0;
  color: rgba(59, 23, 52, 0.6);
  font-size: 18px;
  background-color: unset;
}

.help-modal, .my-cropper-modal {
  background-color: #efa19c;
  border-radius: 7px;
}

.help-modal .modal-header, .my-cropper-modal .modal-header {
  border: 0;
}

.help-modal .modal-header .btn-close, .my-cropper-modal .modal-header .btn-close {
  font-size: 23px;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3px;
  right: 7px;
  color: #3b1734;
  opacity: 0.6;
}

.help-modal .modal-header .btn-close:hover, .my-cropper-modal .modal-header .btn-close:hover {
  opacity: 0.8;
}

.help-modal .modal-body, .my-cropper-modal .modal-body {
  background-color: #fff8fb;
  margin: 0px 15px;
  border-radius: 7px;
  text-align: left;
  border: 2px solid #ea847d;
}

.help-modal .modal-footer, .my-cropper-modal .modal-footer {
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-modal .modal-footer .modal-close-btn, .my-cropper-modal .modal-footer .modal-close-btn {
  margin-top: unset;
}

.top-button {
  margin: 30px !important;
}

.page-title {
  font-size: 30px;
}

.FU-container {
  margin-top: 50px;
}

/* Old, light yellow theme:
$color-purp1: #3b1734; //kat og tekst
$color-purp2: #995f8b; // hat og navbar. Meta tag theme-color must be same as this in layout.html
$color-purp3: #caabbf; //lysere navbar?
$color-red1: #eb757d; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #eba48b; // mørk himmel blend
$color-yel1: #f3b08c; // ?
$color-yel2: #f8d894; // Himmelen
$color-yel3: #fffae9; // Næsten hvid
*/
:root {
  --color-purp1: #3b1734;
  --color-purp2: #995f8b;
  --color-purp3: #caabbf;
  --color-red1: #e98289;
  --color-red1-transparent: #fe586396;
  --color-red2: #efa19c;
  --color-yel1: #f3b08c;
  --color-yel2: #dec7d6;
  --color-yel2-sun: #f8d894;
  --color-yel3: #fff8fb;
}

.navbar {
  background-color: var(--color-purp2);
  padding: 1.3%;
  padding-top: 10px;
  padding-bottom: 26px;
  border: 1px olid green;
}

.navbar .nav-link {
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #3b1734;
}

.navbar .nav-link .donate-icon {
  font-size: 28px;
  text-decoration: none;
}

.navbar a {
  margin: 20px 6px;
  height: 40px;
  border: 0px dotted purple;
  color: var(--color-purp1);
}

.navbar a .logo {
  width: 40px;
  height: 100%;
  padding-left: 8px;
}

.navbar a .logotext {
  height: 100%;
  padding-top: 12px;
}

.navbar a .logotext img {
  width: 200px;
}

.navbar .hamburger {
  padding-top: 7px !important;
}

.navbar #catlogo {
  fill: var(--color-purp1);
}

.navbar .navbar-brand {
  font-size: xx-large;
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggler {
  font-size: 2rem !important;
  padding: 0;
}

.navbar .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-toggler-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120%;
  margin: 0;
  width: 30px;
}

.navbar .navbar-toggler-icon .fas {
  color: #3b1734;
}

.navbar .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .dropdown .earthtoggle {
  padding-top: 12px;
}

.navbar .dropdown .earthtoggle::after {
  display: none;
}

.navbar .dropdown .earthicon {
  fill: #3b1734;
  width: 30px;
}

.navbar .dropdown .dropdown-menu {
  min-width: 70px;
  background-color: rgba(202, 171, 191, 0.7);
  border: 0;
  color: #3b1734;
}

.navbar .dropdown .dropdown-menu .dropdown-item {
  padding: 12%;
  margin: 0;
  text-align: center;
}

.navbar .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .dropdown .dropdown-menu .dropdown-item .flag-icon {
  border-radius: 50%;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 180px;
  background-color: var(--color-red2);
  background: radial-gradient(circle at 0px 500px, #dec7d6 600px, #efa19c 110%);
  background: #dec7d6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body .container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body .mainrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

body .maincol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .sidecol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  width: 300px;
}

body .sidecol .sidebar .news-card {
  background-color: #caabbf;
  padding: 13px;
  padding-top: 12px;
  margin: 13px;
  color: #3b1734;
  border-radius: 7px;
}

body .sidecol .sidebar .news-card .news-date {
  font-size: smaller;
  margin: 0;
  margin-bottom: 5px;
  color: rgba(153, 95, 139, 0.8);
}

body .sidecol .sidebar .news-card .news-title {
  margin-bottom: 0;
}

body .sidecol .sidebar .news-card .news-image img {
  width: 100%;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(59, 23, 52, 0.1);
          box-shadow: 2px 2px 10px 1px rgba(59, 23, 52, 0.1);
  border-radius: 3px;
}

@media only screen and (max-width: 850px) {
  body .mainrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .sidecol {
    width: 100%;
  }
  body .sidecol .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .sidecol .sidebar .news-card {
    width: 187px;
  }
  body .sidecol .sidebar .news-card.sidebar-header {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) and (max-width: 453px) {
  body .sidecol .sidebar .news-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .sidecol .sidebar .news-card .news-image {
    max-width: 200px;
  }
}

body footer {
  background: #995f8b;
  color: #3b1734;
  padding: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
}

body footer a {
  color: black;
}

.frontpage-container {
  overflow: visible;
}

.frontpage-container .illustration-container {
  padding: 0;
  overflow: visible;
  position: relative;
  height: 150vw;
}

@media (min-width: 400px) {
  .frontpage-container .illustration-container {
    height: 120vw;
  }
}

@media (min-width: 576px) {
  .frontpage-container .illustration-container {
    height: 118vw;
  }
}

@media (min-width: 830px) {
  .frontpage-container .illustration-container {
    height: 75vw;
  }
}

@media (min-width: 992px) {
  .frontpage-container .illustration-container {
    height: 70vw;
  }
}

@media (min-width: 1200px) {
  .frontpage-container .illustration-container {
    height: 60vw;
  }
}

.frontpage-container .illustration-container #illustration {
  position: absolute;
  z-index: -1;
  overflow: visible;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(3.5, 3.5) translate(9%, 18%);
          transform: scale(3.5, 3.5) translate(9%, 18%);
}

@media (min-width: 576px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2.5, 2.5) translate(3%, 18%);
            transform: scale(2.5, 2.5) translate(3%, 18%);
  }
}

@media (min-width: 768px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2, 2) translate(0%, 12%);
            transform: scale(2, 2) translate(0%, 12%);
  }
}

@media (min-width: 992px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.8, 1.8) translate(-4%, 6%);
            transform: scale(1.8, 1.8) translate(-4%, 6%);
  }
}

@media (min-width: 1200px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.3, 1.3) translate(-10%, -2%);
            transform: scale(1.3, 1.3) translate(-10%, -2%);
  }
}

.frontpage-container .text-container {
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 851px) {
  .frontpage-container .text-container {
    padding-right: 0;
  }
}

.frontpage-container .text-container h1 {
  font-size: 30px;
}

.frontpage-container .text-container .about-text {
  padding: 30px;
  max-width: 845px;
  background-color: #caabbf;
  border-radius: 7px;
  font-weight: normal;
}

#illustration #inner-c {
  stop-color: var(--color-yel2-sun);
}

#illustration #outer-c {
  stop-color: var(--color-red2);
}

#illustration #sky {
  fill: url(#sun-gradient);
}

#illustration .rays-lin-stop1 {
  stop-color: var(--color-red1);
}

#illustration #sun {
  fill: var(--color-red1);
}

#illustration #sun #sunrays {
  fill: url(#sunrays-gradient);
}

#illustration #cat-chair-hill {
  fill: var(--color-purp1);
}

/* Little grey button used in change.html for opening change form and word info */
.lil-buttonon {
  background-color: #555;
  color: white;
  padding: 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
}

/* The popup form in change.html - hidden by until summoned */
.popup-form-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px solid #f1f1f1;
  z-index: 1;
  /* the popup form itself */
}

.popup-form-wrapper .popup-form {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  /* Set a style for the save/delete buttons */
}

.popup-form-wrapper .popup-form input[type=text], .popup-form-wrapper .popup-form .popup-form input[type=password], .popup-form-wrapper .popup-form .change-file-label {
  width: 100%;
  max-height: 50px !important;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  /* When the inputs get focus, do something */
}

.popup-form-wrapper .popup-form input[type=text]:focus, .popup-form-wrapper .popup-form .popup-form input[type=password]:focus, .popup-form-wrapper .popup-form .change-file-label:focus {
  background-color: #ddd;
  outline: none;
}

.popup-form-wrapper .popup-form input[type=file] {
  display: none;
}

.popup-form-wrapper .popup-form .change-file-label {
  background-color: #a9e1ff;
  border: 1px solid #a9e1ff;
  border-radius: 0.25rem;
  overflow: hidden;
}

.popup-form-wrapper .popup-form .change-file-label:hover {
  background-color: #84d4ff;
}

.popup-form-wrapper .popup-form .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.popup-form-wrapper .popup-form .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.popup-form .btn:hover, .lil-buttonon:hover {
  opacity: 1;
}

.img-mpexample {
  width: 50%;
}

.chosen-select {
  width: 100%;
}

.pairSoundTable input, .pairSoundTable label {
  display: block;
}

.pairSoundTable label {
  height: 2.5em;
}

.pairSoundTable .row {
  margin-bottom: 30px;
}

.pairSoundTable .vs {
  font-weight: bolder;
  padding-top: 30px;
}

.add-file-label::after {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.add-file-label:hover::after {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.chosen-container {
  width: 100%;
}

.chosen-container .chosen-results li.suggested-result {
  display: list-item;
  cursor: pointer;
  font-weight: 900;
  background-color: aliceblue;
  color: blue;
}

.word-suggestions {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 -3px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.word-suggestions .word-suggestion {
  background-color: #efa19c;
  border: 1px solid #e98289;
  border-radius: 7px;
  margin: 3px;
  padding: 1px 7px;
}

/* Old, light yellow theme:
$color-purp1: #3b1734; //kat og tekst
$color-purp2: #995f8b; // hat og navbar. Meta tag theme-color must be same as this in layout.html
$color-purp3: #caabbf; //lysere navbar?
$color-red1: #eb757d; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #eba48b; // mørk himmel blend
$color-yel1: #f3b08c; // ?
$color-yel2: #f8d894; // Himmelen
$color-yel3: #fffae9; // Næsten hvid
*/
:root {
  --color-purp1: #3b1734;
  --color-purp2: #995f8b;
  --color-purp3: #caabbf;
  --color-red1: #e98289;
  --color-red1-transparent: #fe586396;
  --color-red2: #efa19c;
  --color-yel1: #f3b08c;
  --color-yel2: #dec7d6;
  --color-yel2-sun: #f8d894;
  --color-yel3: #fff8fb;
}

.titlebox {
  margin-top: 70px;
  margin-bottom: 20px;
  color: #3b1734;
  -ms-flex-line-pack: center;
      align-content: center;
}

.titlebox .removeallbtn {
  background-color: #e98289;
}

.titlebox .removeallbtn i {
  color: #3b1734;
}

.titlebox .search-tabs-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
}

.titlebox .search-tabs-flex-wrapper .search-tabs {
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .titlebox .search-tabs-flex-wrapper .search-tabs {
    width: 340px;
  }
}

.titlebox .search-sounds-field input, .titlebox .search-sounds-field select, .titlebox .search-sounds-field .chosen-container .chosen-choices {
  min-width: 40px;
  height: 40px;
  border: 1px solid #995f8b;
  border-radius: 3px;
  vertical-align: bottom;
  font-size: 15px;
  background: #fff8fb;
  padding-top: 5px;
  text-align: center;
}

.titlebox .MO-search-sounds-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebox .title-text {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.titlebox .title-text .ipa-font {
  font-size: 1.7rem;
}

.contentbox {
  width: 100% !important;
  padding: 15px;
  margin-bottom: 150px;
}

.contentbox [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentbox .row {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: auto;
  border-radius: 7px;
}

@media only screen and (max-width: 620px) {
  .contentbox .row {
    width: 340px;
  }
}

.wordcard {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 576px) {
  .wordcard {
    height: auto;
    max-height: 300px;
  }
}

@media only screen and (min-width: 576px) {
  .wordcard {
    height: 270px;
  }
}

@media (min-width: 768px) {
  .wordcard {
    height: 270px;
  }
}

@media (min-width: 992px) {
  .wordcard {
    height: 290px;
  }
}

.wordcard .img-container {
  height: 70%;
  overflow: hidden;
}

.wordcard .img-container .card-img-top {
  /* max-width: 100%;  width of container */
  height: 100%;
  /* height of container */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.wordcard .card-body {
  height: auto;
  padding: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wordcard .card-body .card-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 576px) {
  .wordcard .card-body .card-title {
    font-size: 25px;
  }
}

.nav-tab-wrapper {
  overflow: hidden;
}

.nav-tab-wrapper .nav-tabs {
  border: 0;
}

.nav-tab-wrapper .nav-tabs .nav-item {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

@media only screen and (max-width: 370px) {
  .nav-tab-wrapper .nav-tabs .nav-item {
    width: 50%;
  }
}

.nav-tab-wrapper .nav-tabs .nav-item .nav-link {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: inherit;
  border: none;
  color: #3b1734;
  height: 100%;
}

.nav-tab-wrapper .nav-tabs .nav-item .nav-link.active {
  border: none;
}

.tab-content .tab-pane {
  padding: 10px;
  padding-top: 15px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 15%;
  margin-bottom: 30px;
  color: #3b1734;
  min-height: 200px;
}

@media only screen and (min-width: 371px) {
  .tab-content .tab-pane {
    border-radius: 7px;
  }
}

.tab-content .tab-pane .subtitle-sound-search {
  margin-top: 10px;
  font-size: 18px;
}

.tab-content .tab-pane .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
}

/* Old, light yellow theme:
$color-purp1: #3b1734; //kat og tekst
$color-purp2: #995f8b; // hat og navbar. Meta tag theme-color must be same as this in layout.html
$color-purp3: #caabbf; //lysere navbar?
$color-red1: #eb757d; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #eba48b; // mørk himmel blend
$color-yel1: #f3b08c; // ?
$color-yel2: #f8d894; // Himmelen
$color-yel3: #fffae9; // Næsten hvid
*/
:root {
  --color-purp1: #3b1734;
  --color-purp2: #995f8b;
  --color-purp3: #caabbf;
  --color-red1: #e98289;
  --color-red1-transparent: #fe586396;
  --color-red2: #efa19c;
  --color-yel1: #f3b08c;
  --color-yel2: #dec7d6;
  --color-yel2-sun: #f8d894;
  --color-yel3: #fff8fb;
}

.word-info-container .outer-row {
  border-radius: 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 60px auto;
  padding: 0px;
  width: 100%;
  max-width: 800px;
}

@media screen and (max-width: 1199px) {
  .word-info-container .outer-row {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
  }
}

.word-info-container .outer-row .col-pairs {
  background: #915491;
  padding: 5px 8px !important;
  border-radius: 3px;
}

.word-info-container .outer-row h5 {
  width: 100%;
}

.word-info-container .outer-row .inner-row {
  margin: 0;
  padding: 0;
  height: 100%;
}

.word-info-container .outer-row .inner-row .cols-word .title {
  font-size: 25px;
  line-height: 1;
}

.word-info-container .outer-row .inner-row .cols-word .title h1 {
  overflow-wrap: break-word;
  font-size: 25px;
  font-weight: bold;
}

.word-info-container .outer-row .inner-row .cols-word .title p {
  margin-bottom: 0;
  font-size: 20px;
}

.word-info-container .outer-row [class*='col-'] {
  padding: 0px 0px;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  overflow: hidden;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div img {
  width: 100%;
  background-color: #fff8fb;
}

.word-info-container .outer-row .slider {
  -webkit-box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #7a4b6e;
  padding: 0px 0px;
  border-radius: 3px;
  max-width: 1150px;
  overflow: hidden;
  max-height: 694px;
  overflow: hidden;
}

.word-info-container .outer-row .slider .owl-dots {
  padding-top: 10px;
  background-color: #995f8b;
}

.word-info-container .outer-row .slider .owl-dots .owl-dot span {
  background: #caabbf;
}

.word-info-container .outer-row .slider .owl-dots .active span {
  background: #3b1734;
}

.word-info-container .outer-row .slider .owl-stage-outer {
  padding: 20px;
}

.word-info-container .outer-row .slider .owl-stage-outer .owl-stage .owl-item {
  max-width: 200px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card {
  border-radius: 3px;
  margin: 0px 10px;
  height: 232px;
  overflow: hidden;
  max-width: 222px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap {
  width: auto;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body {
  min-height: 20%;
  max-height: 40%;
  line-height: 16px;
  font-size: 15px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: scroll;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body .card-title {
  margin-top: 0px;
  margin-bottom: 2px;
}

.word-info-container .group-row {
  padding: 8px;
  background: #caabbf;
}

.word-info-container .group-row .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.word-info-container .group-row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.word-info-container .group-row .col .groupcard {
  width: 100%;
  min-width: 160px;
  min-height: 200px;
}

/* Old, light yellow theme:
$color-purp1: #3b1734; //kat og tekst
$color-purp2: #995f8b; // hat og navbar. Meta tag theme-color must be same as this in layout.html
$color-purp3: #caabbf; //lysere navbar?
$color-red1: #eb757d; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #eba48b; // mørk himmel blend
$color-yel1: #f3b08c; // ?
$color-yel2: #f8d894; // Himmelen
$color-yel3: #fffae9; // Næsten hvid
*/
:root {
  --color-purp1: #3b1734;
  --color-purp2: #995f8b;
  --color-purp3: #caabbf;
  --color-red1: #e98289;
  --color-red1-transparent: #fe586396;
  --color-red2: #efa19c;
  --color-yel1: #f3b08c;
  --color-yel2: #dec7d6;
  --color-yel2-sun: #f8d894;
  --color-yel3: #fff8fb;
}

.collectionpage-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdfgenerator {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 8%;
  margin-bottom: 0;
  width: 600px;
  max-width: 100%;
}

.pdfgenerator .btn-wrap {
  min-height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pdfgenerator .btn-wrap button {
  min-width: 237px;
}

.pdfgenerator .background-choices {
  padding: 0;
}

.pdfgenerator .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.pdfgenerator legend {
  width: auto;
}

.pdfgenerator .pdf-generator-dropdown {
  border-radius: 7px;
  background-color: #fe586396;
  margin: 0;
  padding-bottom: 20px;
}

.pdfgenerator .pdf-generator-dropdown .row .col {
  max-width: 130px;
  padding: 10px;
}

.pdfgenerator .pdf-generator-dropdown .pdf-showcase {
  padding: 20px;
}

.pdfgenerator .pdf-generator-dropdown .pdf-showcase .pdf-showcase-inner {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding: 20px;
}

.pdfgenerator .pdf-generator-dropdown .pdf-showcase .pdfbtn {
  margin: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.pdfgenerator .bg-btn-wrap {
  background-size: cover;
  position: relative;
  border-radius: 7px;
}

.pdfgenerator .bg-btn-wrap:active {
  height: 108px;
  width: 99%;
  margin-left: 1px;
  margin-top: 1px;
}

.pdfgenerator .bg-btn-wrap .btn-check:focus + .btn, .pdfgenerator .bg-btn-wrap .btn:focus, .pdfgenerator .bg-btn-wrap .btn-check:checked + .btn, .pdfgenerator .bg-btn-wrap .btn:checked {
  border: 1px solid #dec7d6;
  -webkit-box-shadow: 0 0.1rem 0.5rem #dec7d6 !important;
          box-shadow: 0 0.1rem 0.5rem #dec7d6 !important;
  border-radius: inherit;
  -webkit-transition: none;
  transition: none;
}

.pdfgenerator .bg-btn-wrap .bgexample {
  height: 110px;
  margin: 0;
  /* top and bottom padding must add up to 100% because they determine the height and makes div be square */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  border-radius: inherit;
  font-size: 16px;
  image-rendering: -webkit-optimize-contrast;
  background-color: none;
  position: inherit;
  z-index: 1;
}

.pdfgenerator .bg-btn-wrap .text-background {
  position: absolute;
  height: 2.5rem;
  background-color: rgba(255, 248, 251, 0.5);
  width: 100%;
  z-index: 0;
  bottom: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.pdfgenerator button {
  border-radius: 7px;
  border: none;
  margin: 15px;
  font-size: larger;
  background-color: #995f8b;
  color: #3b1734;
  padding: 8px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pdfgenerator button:hover {
  cursor: pointer;
}

.pdfgenerator .pdfbtn {
  margin: 0;
}

.sorry {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50vh;
}

.sorry p {
  color: #3b1734;
  font-size: larger;
}

.newcroppermodal .preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}

.cropper_styles {
  /* Ensure the size of the image fit the container perfectly */
}

.cropper_styles img {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.custom-file-input {
  display: none;
}

.file-label {
  margin: 6px 3px;
}

.boardgame-wizard-modal ul {
  list-style: none;
}

.boardgame-wizard-modal .sw-theme-default > ul.step-anchor > li.active, .boardgame-wizard-modal .sw-theme-default > ul.step-anchor > li.active > a, .boardgame-wizard-modal .sw-theme-default > ul.step-anchor > li.done, .boardgame-wizard-modal .sw-theme-default > ul.step-anchor > li a {
  color: #3b1734 !important;
}

.boardgame-wizard-modal .sw-theme-default .step-content {
  width: 100%;
  border: 2px solid #ea847d;
  border-radius: 7px;
}

.boardgame-wizard-modal .sw-theme-default .nav-tabs {
  border-bottom: none;
}

.boardgame-wizard-modal .modal-header {
  border-bottom: none;
}

.boardgame-wizard-modal .modal-header .close {
  display: none;
}

.boardgame-wizard-modal .modal-header .customclose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3b1734;
}

.boardgame-wizard-modal .modal-header .customclose:hover {
  color: #3b1734;
  opacity: 0.6;
}

.boardgame-wizard-modal .modal-content {
  background-color: #efa19c;
  border-radius: 7px;
}

.boardgame-wizard-modal .modal-content .theme-selector .row {
  margin: 10px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.boardgame-wizard-modal .modal-content .theme-selector .row [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 17px;
}

@media only screen and (min-width: 992px) {
  .boardgame-wizard-modal .modal-content .theme-selector .row [class*="col-"] {
    padding: 0 90px;
  }
}

.boardgame-wizard-modal .modal-content .theme-selector .row .img-wrapper {
  padding: 4px;
  width: 193px;
  max-height: 100%;
}

.boardgame-wizard-modal .modal-content .theme-selector .row .img-wrapper:hover {
  padding: 0;
}

.boardgame-wizard-modal .modal-content .theme-selector .row .img-wrapper.selected {
  padding: 0;
}

.boardgame-wizard-modal .modal-content .theme-selector .row .pdf-example {
  max-width: 100%;
  max-height: 100%;
}

.boardgame-wizard-modal .modal-content .theme-selector .row .pdf-example.selected {
  -webkit-filter: drop-shadow(2px 1px 13px #caabbf);
          filter: drop-shadow(2px 1px 13px #caabbf);
}

.boardgame-wizard-modal .sw-theme-default {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.boardgame-wizard-modal .sw-theme-default .sw-toolbar {
  background-color: #efa19c;
}

.boardgame-wizard-modal .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #995f8b;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.boardgame-wizard-modal .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
}

.boardgame-wizard-modal .close:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0rem rgba(108, 117, 125, 0.5);
}

.boardgame-wizard-modal .mt-200 {
  margin-top: 200px;
}

.boardgame-wizard-modal ul.step-anchor > li.done > a::after {
  background: #ea847d !important;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.boardgame-wizard-modal ul.step-anchor > li.active > a::after {
  background: #130e11 !important;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.boardgame-wizard-modal .btn-secondary {
  color: #3b1734;
  border-radius: 7px;
  font-size: 20px;
  background-color: #995f8b;
  margin-top: 15px;
  height: 38px;
  min-width: 40px;
  background: #995f8b;
  font-size: 17px;
  border-radius: 7px;
  border: none;
}

.boardgame-wizard-modal .btn-secondary:hover {
  cursor: pointer;
}

.boardgame-wizard-modal #step-2-sortable_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boardgame-wizard-modal #step-2-sortable_wrapper .connectedSortable {
  width: 150px;
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  background-color: #caabbf;
}

.boardgame-wizard-modal #step-2-sortable_wrapper .connectedSortable.error {
  background-color: rgba(239, 161, 156, 0.5);
}

.boardgame-wizard-modal .sortable-feedback {
  color: #3b1734;
  text-align: center;
  margin-bottom: 10px;
}

.boardgame-wizard-modal .sortable-feedback.error {
  color: #e98289;
}

.checkoutcontainer .checkoutrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.checkoutcontainer .checkoutrow .donation-text {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

.checkoutcontainer .checkoutrow .donation-text p {
  margin: auto;
  max-width: 710px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1085px) {
  .checkoutcontainer .checkoutrow .donation-text p {
    max-width: 460px;
  }
}

.checkoutcontainer .checkoutrow .productcard {
  cursor: pointer;
  width: 210px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  background-color: #fff8fb;
  text-align: center;
}

.checkoutcontainer .checkoutrow .productcard .price-tag {
  font-size: 40px;
  font-weight: 900;
}

.checkoutcontainer .checkoutrow .productcard img, .checkoutcontainer .checkoutrow .productcard .ppicon {
  height: 58%;
  font-size: 90px;
  color: #3b1734;
  margin-bottom: auto;
}

.checkoutcontainer .checkoutrow .productcard p {
  margin-bottom: 0;
}

.checkoutcontainer .checkoutrow .productcard .button {
  margin-bottom: 20px;
}

.checkoutcontainer .paypal-btn {
  margin-bottom: 40px;
  margin-top: 40px;
  text-decoration: none;
  color: inherit;
}

.after-checkout-row {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.after-checkout-row .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.thankyouimage {
  width: 500px;
  margin: auto;
  max-width: 100%;
}

.error-message {
  margin: 70px 0px;
  padding: 0px 15px;
  text-align: center;
  color: #3b1734;
}

.error-message h1, .error-message .h1 {
  font-size: 4rem;
}

.error-message img {
  width: 300px;
  max-width: 100%;
}
/*# sourceMappingURL=styles.css.map */