:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #FE766A;
  --color-yel1: #FE9055;
  --color-yel2: #ffc851;
}

:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #FE766A;
  --color-yel1: #FE9055;
  --color-yel2: #ffc851;
}

.navbar {
  background-color: var(--color-purp2);
}

.navbar a {
  color: var(--color-purp1);
}

.navbar #catlogo {
  fill: var(--color-purp1);
}

.navbar .navbar-brand {
  /* size for brand */
  font-size: xx-large;
  margin: 0px 23px;
}

@media only screen and (max-width: 350px) {
  .navbar .navbar-brand {
    margin: auto;
  }
}

.navbar .navbar-toggler {
  font-size: 2rem !important;
}

@media only screen and (max-width: 350px) {
  .navbar .navbar-toggler {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.navbar .navbar-toggler-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120%;
}

.navbar .navbar-toggler-icon .fas {
  color: #370e2f;
}

@media only screen and (max-width: 350px) {
  .navbar {
    padding: 10px;
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 4rem;
  background-color: var(--color-red2);
  background: radial-gradient(circle at 0px 500px, #ffc851 600px, #FE766A 110%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.frontpage-container {
  overflow: hidden;
  height: 377vw;
}

.frontpage-container .illustration-container {
  padding: 0;
  overflow: visible;
  height: 110vh;
  position: relative;
}

.frontpage-container .illustration-container #illustration {
  position: absolute;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(3.5, 3.5) translate(9%, 18%);
          transform: scale(3.5, 3.5) translate(9%, 18%);
}

@media (min-width: 576px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2.5, 2.5) translate(3%, 18%);
            transform: scale(2.5, 2.5) translate(3%, 18%);
  }
}

@media (min-width: 768px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2, 2) translate(0%, 12%);
            transform: scale(2, 2) translate(0%, 12%);
  }
}

@media (min-width: 992px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.8, 1.8) translate(-4%, 6%);
            transform: scale(1.8, 1.8) translate(-4%, 6%);
  }
}

@media (min-width: 1200px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.3, 1.3) translate(-10%, -2%);
            transform: scale(1.3, 1.3) translate(-10%, -2%);
  }
}

.frontpage-container .text-container {
  position: relative;
  font-size: larger;
  font-weight: bolder;
}

.frontpage-container .text-container [class*="col-"], .frontpage-container .text-container .col {
  background-color: var(--color-red1);
  color: var(--color-yel2);
  margin: 40px 10px;
}

#illustration #inner-c {
  stop-color: var(--color-yel2);
}

#illustration #outer-c {
  stop-color: var(--color-red2);
}

#illustration #sky {
  fill: url(#sun-gradient);
}

#illustration .rays-lin-stop1 {
  stop-color: var(--color-red1);
}

#illustration #sun {
  fill: var(--color-red1);
}

#illustration #sun #sunrays {
  fill: url(#sunrays-gradient);
}

#illustration #cat-chair-hill {
  fill: var(--color-purp1);
}

/* Little grey button used in change.html for opening change form and word info */
.lil-buttonon {
  background-color: #555;
  color: white;
  padding: 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
}

/* The popup form in change.html - hidden by until summoned */
.popup-form-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px solid #f1f1f1;
  z-index: 1;
  /* the popup form itself */
}

.popup-form-wrapper .popup-form {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  /* Set a style for the save/delete buttons */
}

.popup-form-wrapper .popup-form input[type=text], .popup-form-wrapper .popup-form .popup-form input[type=password], .popup-form-wrapper .popup-form .change-file-label {
  width: 100%;
  max-height: 50px !important;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  /* When the inputs get focus, do something */
}

.popup-form-wrapper .popup-form input[type=text]:focus, .popup-form-wrapper .popup-form .popup-form input[type=password]:focus, .popup-form-wrapper .popup-form .change-file-label:focus {
  background-color: #ddd;
  outline: none;
}

.popup-form-wrapper .popup-form input[type=file] {
  display: none;
}

.popup-form-wrapper .popup-form .change-file-label {
  background-color: #a9e1ff;
  border: 1px solid #a9e1ff;
  border-radius: 0.25rem;
  overflow: hidden;
}

.popup-form-wrapper .popup-form .change-file-label:hover {
  background-color: #84d4ff;
}

.popup-form-wrapper .popup-form .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.popup-form-wrapper .popup-form .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.popup-form .btn:hover, .lil-buttonon:hover {
  opacity: 1;
}

.img-mpexample {
  width: 50%;
}

.chosen-select {
  width: 100%;
}

.pairSoundTable .sound_input_field {
  margin-right: 30px;
}

.pairSoundTable input, .pairSoundTable label {
  display: block;
}

.pairSoundTable label {
  height: 2.5em;
}

.pairSoundTable .row {
  margin-bottom: 30px;
}

.pairSoundTable .vs {
  font-weight: bolder;
  padding-top: 30px;
}

.add-file-label::after {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.add-file-label:hover::after {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.ipa-container {
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgba(194, 194, 194, 0.461);
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .ipa-container {
    width: 340px;
  }
}

@media only screen and (max-width: 350px) {
  .ipa-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.titlebox {
  background-color: #c5ece6;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  margin-bottom: 50px;
}

.titlebox .title-text {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 30px;
}

.titlebox p {
  padding-bottom: 20px;
}

.titlebox button {
  border-radius: 15px;
  font-size: larger;
  margin-bottom: 50px;
}

.titlebox .search-sounds-field {
  padding-bottom: 40px;
}

.titlebox .search-sounds-field input {
  margin-bottom: 15px;
  font-size: 20px;
}

.titlebox .search-sounds-field button {
  margin-left: 15px;
  height: 38px;
  width: 40px;
  background: #343a40;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid grey;
}

.titlebox .search-sounds-field button:hover {
  cursor: pointer;
  background: black;
}

.contentbox [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wordcard {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wordcard .img-container {
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .wordcard .img-container {
    height: 281.4px;
  }
}

@media only screen and (min-width: 576px) {
  .wordcard .img-container {
    height: 148.9px;
  }
}

@media (min-width: 768px) {
  .wordcard .img-container {
    height: 208.9px;
  }
}

@media (min-width: 992px) {
  .wordcard .img-container {
    height: 281.4px;
  }
}

.wordcard .img-container .card-img-top {
  max-width: 100%;
  /* width of container */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.wordcard .card-title {
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .wordcard .card-title {
    font-size: 2rem;
  }
}

:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #FE766A;
  --color-yel1: #FE9055;
  --color-yel2: #ffc851;
}

.word-info-container .outer-row {
  border-radius: 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10%;
  padding: 0px;
}

@media screen and (max-width: 710px) {
  .word-info-container .outer-row {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media screen and (max-width: 422px) {
  .word-info-container .outer-row {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.word-info-container .outer-row [class*='col-'] {
  padding: 0px 0px;
}

.word-info-container .outer-row [class*='col-'] .inner-row .cols-word .title {
  font-size: 25px;
  line-height: 1;
}

.word-info-container .outer-row [class*='col-'] .inner-row .cols-word .title h1 {
  overflow-wrap: break-word;
  font-size: 25px;
  font-weight: bold;
}

.word-info-container .outer-row [class*='col-'] .inner-row .cols-word .title p {
  margin-bottom: 0;
  font-size: 20px;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div {
  height: 100%;
  width: 100%;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div img {
  border-radius: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.word-info-container .outer-row .slider {
  -webkit-box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #714171;
  padding: 0px 0px;
  border-radius: 3px;
  max-width: 1150px;
  overflow: hidden;
  max-height: 694px;
  overflow: hidden;
}

.word-info-container .outer-row .slider .owl-dots {
  padding-top: 10px;
  background-color: #915491;
}

.word-info-container .outer-row .slider .owl-dots .owl-dot span {
  background: #c99bb8;
}

.word-info-container .outer-row .slider .owl-dots .active span {
  background: #370e2f;
}

.word-info-container .outer-row .slider .owl-stage-outer {
  padding: 20px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card {
  border-radius: 3px;
  margin: 0px 10px;
  height: 232px;
  overflow: hidden;
  max-width: 222px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap {
  height: 120px;
  width: auto;
  overflow: hidden;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap img {
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body {
  max-height: 50%;
  line-height: 16px;
  font-size: 15px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  overflow: scroll;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body .card-title {
  margin-top: 0px;
  margin-bottom: 2px;
}

.word-info-container .outer-row .MO-col .MO-wrapper {
  background: radial-gradient(#c99bb8 45%, #915491 80%);
  margin: 5px;
  border-radius: 150px;
  padding: 11px;
}

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.ipa_picker a {
  color: black;
  font-size: 30px;
  padding: 5px;
  font-family: "Times New Roman";
}

@media only screen and (max-width: 350px) {
  .ipa_picker a {
    padding-top: 7px;
    font-size: 1.5rem;
  }
}

.ipa_picker span.line {
  display: inline-block;
}
/*# sourceMappingURL=styles.css.map */