@charset "UTF-8";
/*
$color-purp1: #77ff00; //kat og tekst
$color-purp2: #000000; // hat og navbar og nathimmel
$color-purp3: #75ba86; //lysere navbar?
$color-red1: #081700; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #223226; // mørk himmel blend
$color-yel1: #FE9055; // ?
$color-yel2: #000000; // Himmelen
*/
:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #fe916a;
  --color-yel1: #FE9055;
  --color-yel2: #ffd06c;
}

.shadow {
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35) !important;
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35) !important;
}

.alert-wrapper {
  position: absolute !important;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 20px;
}

.alert-wrapper .alert {
  border: none;
  border-radius: 0;
  color: #370e2f;
  background-color: #915491;
}

.alert-wrapper .alert-danger {
  color: #370e2f;
  background-color: #c99bb8;
}

.ipa_picker a {
  color: black;
  font-size: 30px;
  padding: 5px;
  font-family: "Times New Roman";
}

@media only screen and (max-width: 350px) {
  .ipa_picker a {
    padding-top: 7px;
    font-size: 1.5rem;
  }
}

.ipa_picker span.line {
  display: inline-block;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .fas {
  font-size: 20px;
}

.buttons a {
  margin: 6px 3px;
  margin-bottom: 2px;
  color: #915491;
}

.fa-minus-circle {
  color: #fe5862;
}

.fa-plus-circle {
  color: #370e2f;
}

.fa-search {
  color: #370e2f;
}

.card {
  background-color: #fff6da;
}

.MO-row {
  border-radius: 3px;
  background: #fe5862;
  margin: 0;
}

.MO-row .MO-col {
  padding: 0;
  max-width: 267px;
  min-width: 267px;
}

.MO-row .MO-col .MO-wrapper {
  background: #fff6da;
  margin: 8px;
  border-radius: 3px;
  height: 250px;
}

.MO-row .MO-col .MO-wrapper .MO-list-wrapper {
  padding: 30px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  background-blend-mode: normal;
}

.MO-row .MO-col .MO-wrapper .MO-list-wrapper .buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.MO-row .MO-col .MO-wrapper .absolute-colour-overlay {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 1199px) {
  .MO-row .MO-col {
    min-width: 300px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 370px) {
  .MO-row .MO-col {
    min-width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .MO-row {
    width: 340px;
  }
}

.addgroupbtn-MO, .removegroupbtn-MO, .addgroupbtn-pair, .removegroupbtn-pair {
  position: absolute;
  z-index: 1;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-bottom: -14px;
  padding: 0;
}

.addgroupbtn-MO i, .removegroupbtn-MO i, .addgroupbtn-pair i, .removegroupbtn-pair i {
  background: none;
  border-radius: 50%;
  font-size: 27px;
}

.addgroupbtn-pair, .removegroupbtn-pair {
  left: 50%;
  bottom: 50%;
}

.addgroupbtn-MO, .removegroupbtn-MO {
  right: 3%;
  top: 3%;
}

.FU-container {
  margin-top: 50px;
}

/*
$color-purp1: #77ff00; //kat og tekst
$color-purp2: #000000; // hat og navbar og nathimmel
$color-purp3: #75ba86; //lysere navbar?
$color-red1: #081700; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #223226; // mørk himmel blend
$color-yel1: #FE9055; // ?
$color-yel2: #000000; // Himmelen
*/
:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #fe916a;
  --color-yel1: #FE9055;
  --color-yel2: #ffd06c;
}

.navbar {
  background-color: var(--color-purp2);
}

.navbar a {
  color: var(--color-purp1);
}

.navbar #catlogo {
  fill: var(--color-purp1);
}

.navbar .navbar-brand {
  /* size for brand */
  font-size: xx-large;
  margin: 0px 23px;
}

@media only screen and (max-width: 350px) {
  .navbar .navbar-brand {
    margin: auto;
  }
}

.navbar .navbar-toggler {
  font-size: 2rem !important;
}

@media only screen and (max-width: 350px) {
  .navbar .navbar-toggler {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.navbar .navbar-toggler-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 120%;
}

.navbar .navbar-toggler-icon .fas {
  color: #370e2f;
}

@media only screen and (max-width: 350px) {
  .navbar {
    padding: 10px;
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  background-color: var(--color-red2);
  background: radial-gradient(circle at 0px 500px, #ffd06c 600px, #fe916a 110%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: absolute;
  background: #915491;
  color: #370e2f;
  padding: 20px;
  padding-bottom: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

footer a {
  color: black;
}

.frontpage-container {
  overflow: hidden;
}

.frontpage-container .illustration-container {
  padding: 0;
  overflow: visible;
  position: relative;
  height: 81vh;
}

@media (min-width: 576px) {
  .frontpage-container .illustration-container {
    height: 89vh;
  }
}

@media (min-width: 768px) {
  .frontpage-container .illustration-container {
    height: 95vh;
  }
}

@media (min-width: 992px) {
  .frontpage-container .illustration-container {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .frontpage-container .illustration-container {
    height: 105vh;
  }
}

.frontpage-container .illustration-container #illustration {
  position: absolute;
  z-index: -1;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(3.5, 3.5) translate(9%, 18%);
          transform: scale(3.5, 3.5) translate(9%, 18%);
}

@media (min-width: 576px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2.5, 2.5) translate(3%, 18%);
            transform: scale(2.5, 2.5) translate(3%, 18%);
  }
}

@media (min-width: 768px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(2, 2) translate(0%, 12%);
            transform: scale(2, 2) translate(0%, 12%);
  }
}

@media (min-width: 992px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.8, 1.8) translate(-4%, 6%);
            transform: scale(1.8, 1.8) translate(-4%, 6%);
  }
}

@media (min-width: 1200px) {
  .frontpage-container .illustration-container #illustration {
    -webkit-transform: scale(1.3, 1.3) translate(-10%, -2%);
            transform: scale(1.3, 1.3) translate(-10%, -2%);
  }
}

.frontpage-container .text-container {
  font-size: normal;
  font-weight: normal;
  position: relative;
  margin-bottom: 50%;
}

.frontpage-container .text-container [class*="col-"], .frontpage-container .text-container .col {
  color: var(--color-yel2);
  margin: 40px 0px;
}

.frontpage-container .text-container #planet {
  fill: #370e2f;
  display: none;
}

@media (max-width: 390px) {
  .frontpage-container .text-container #planet {
    position: absolute;
    display: inline;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

#illustration #inner-c {
  stop-color: var(--color-yel2);
}

#illustration #outer-c {
  stop-color: var(--color-red2);
}

#illustration #sky {
  fill: url(#sun-gradient);
}

#illustration .rays-lin-stop1 {
  stop-color: var(--color-red1);
}

#illustration #sun {
  fill: var(--color-red1);
}

#illustration #sun #sunrays {
  fill: url(#sunrays-gradient);
}

#illustration #cat-chair-hill {
  fill: var(--color-purp1);
}

/* Little grey button used in change.html for opening change form and word info */
.lil-buttonon {
  background-color: #555;
  color: white;
  padding: 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
}

/* The popup form in change.html - hidden by until summoned */
.popup-form-wrapper {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px solid #f1f1f1;
  z-index: 1;
  /* the popup form itself */
}

.popup-form-wrapper .popup-form {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  /* Set a style for the save/delete buttons */
}

.popup-form-wrapper .popup-form input[type=text], .popup-form-wrapper .popup-form .popup-form input[type=password], .popup-form-wrapper .popup-form .change-file-label {
  width: 100%;
  max-height: 50px !important;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  /* When the inputs get focus, do something */
}

.popup-form-wrapper .popup-form input[type=text]:focus, .popup-form-wrapper .popup-form .popup-form input[type=password]:focus, .popup-form-wrapper .popup-form .change-file-label:focus {
  background-color: #ddd;
  outline: none;
}

.popup-form-wrapper .popup-form input[type=file] {
  display: none;
}

.popup-form-wrapper .popup-form .change-file-label {
  background-color: #a9e1ff;
  border: 1px solid #a9e1ff;
  border-radius: 0.25rem;
  overflow: hidden;
}

.popup-form-wrapper .popup-form .change-file-label:hover {
  background-color: #84d4ff;
}

.popup-form-wrapper .popup-form .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.popup-form-wrapper .popup-form .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.popup-form .btn:hover, .lil-buttonon:hover {
  opacity: 1;
}

.img-mpexample {
  width: 50%;
}

.chosen-select {
  width: 100%;
}

.pairSoundTable .sound_input_field {
  margin-right: 30px;
}

.pairSoundTable input, .pairSoundTable label {
  display: block;
}

.pairSoundTable label {
  height: 2.5em;
}

.pairSoundTable .row {
  margin-bottom: 30px;
}

.pairSoundTable .vs {
  font-weight: bolder;
  padding-top: 30px;
}

.add-file-label::after {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}

.add-file-label:hover::after {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

/*
$color-purp1: #77ff00; //kat og tekst
$color-purp2: #000000; // hat og navbar og nathimmel
$color-purp3: #75ba86; //lysere navbar?
$color-red1: #081700; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #223226; // mørk himmel blend
$color-yel1: #FE9055; // ?
$color-yel2: #000000; // Himmelen
*/
:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #fe916a;
  --color-yel1: #FE9055;
  --color-yel2: #ffd06c;
}

.ipa-container {
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: rgba(194, 194, 194, 0.461);
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .ipa-container {
    width: 340px;
  }
}

@media only screen and (max-width: 350px) {
  .ipa-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.titlebox {
  color: #370e2f;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.titlebox button {
  border-radius: 15px;
  font-size: 20px;
  background-color: #915491;
}

.titlebox .top-button {
  margin: 20px;
  margin-left: 15px;
}

.titlebox .removeallbtn {
  background-color: #fe5862;
}

.titlebox .removeallbtn i {
  color: #370e2f;
}

.titlebox .search-tabs-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebox .search-tabs-flex-wrapper .search-tabs {
  width: 600px;
  max-width: 100%;
}

@media only screen and (max-width: 620px) {
  .titlebox .search-tabs-flex-wrapper .search-tabs {
    width: 340px;
  }
}

.titlebox .search-sounds-field input, .titlebox .search-sounds-field select, .titlebox .search-sounds-field .chosen-container .chosen-choices {
  min-width: 40px;
  height: 40px;
  border: 1px solid #915491;
  border-radius: 3px;
  vertical-align: bottom;
  font-size: 15px;
  background: #fff6da;
  padding-top: 5px;
  text-align: center;
}

.titlebox .search-sounds-field .MO-search-button {
  margin-top: 20px;
}

.titlebox .search-sounds-field button {
  height: 38px;
  width: 40px;
  background: #915491;
  font-size: 17px;
  border-radius: 10px;
  border: none;
}

.titlebox .search-sounds-field button:hover {
  cursor: pointer;
}

.titlebox .MO-search-sounds-field {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebox .title-text {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .titlebox .title-text {
    font-size: 1.5rem;
  }
}

.contentbox {
  width: 100% !important;
  padding: 15px;
}

.contentbox [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentbox .row {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: auto;
  border-radius: 15px;
}

@media only screen and (max-width: 620px) {
  .contentbox .row {
    width: 340px;
  }
}

.wordcard {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
  .wordcard {
    height: auto;
    max-height: 300px;
  }
}

@media only screen and (min-width: 576px) {
  .wordcard {
    height: 270px;
  }
}

@media (min-width: 768px) {
  .wordcard {
    height: 270px;
  }
}

@media (min-width: 992px) {
  .wordcard {
    height: 290px;
  }
}

.wordcard .img-container {
  height: 70%;
  overflow: hidden;
}

.wordcard .img-container .card-img-top {
  /* max-width: 100%;  width of container */
  height: 100%;
  /* height of container */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.wordcard .card-body {
  height: auto;
  padding: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wordcard .card-body .card-title {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 576px) {
  .wordcard .card-body .card-title {
    font-size: 25px;
  }
}

.redbg {
  background-color: #fe916a;
}

.purplebg {
  background-color: #fe5862;
}

.nav-tabs {
  border: 0;
}

.nav-tabs .nav-item {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav-tabs .nav-item .nav-link {
  background-color: inherit;
  border: none;
  color: #370e2f;
}

.nav-tabs .nav-item .nav-link.active {
  border: none;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.35);
}

.tab-content .tab-pane {
  border: none;
  border-radius: 15px;
  color: #370e2f;
  min-height: 200px;
  height: auto;
  padding-top: 20px;
}

/*
$color-purp1: #77ff00; //kat og tekst
$color-purp2: #000000; // hat og navbar og nathimmel
$color-purp3: #75ba86; //lysere navbar?
$color-red1: #081700; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #223226; // mørk himmel blend
$color-yel1: #FE9055; // ?
$color-yel2: #000000; // Himmelen
*/
:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #fe916a;
  --color-yel1: #FE9055;
  --color-yel2: #ffd06c;
}

.word-info-container .outer-row {
  border-radius: 3px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 60px auto;
  padding: 0px;
  width: 100%;
  max-width: 800px;
}

@media screen and (max-width: 1199px) {
  .word-info-container .outer-row {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
  }
}

.word-info-container .outer-row .col-pairs {
  background: #915491;
  padding: 5px 8px !important;
  border-radius: 3px;
}

.word-info-container .outer-row h5 {
  width: 100%;
}

.word-info-container .outer-row .inner-row {
  margin: 0;
  padding: 0;
  height: 100%;
}

.word-info-container .outer-row .inner-row .cols-word .title {
  font-size: 25px;
  line-height: 1;
}

.word-info-container .outer-row .inner-row .cols-word .title h1 {
  overflow-wrap: break-word;
  font-size: 25px;
  font-weight: bold;
}

.word-info-container .outer-row .inner-row .cols-word .title p {
  margin-bottom: 0;
  font-size: 20px;
}

.word-info-container .outer-row [class*='col-'] {
  padding: 0px 0px;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  overflow: hidden;
}

.word-info-container .outer-row [class*='col-'] .word1-img-div img {
  width: 100%;
}

.word-info-container .outer-row .slider {
  -webkit-box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #714171;
  padding: 0px 0px;
  border-radius: 3px;
  max-width: 1150px;
  overflow: hidden;
  max-height: 694px;
  overflow: hidden;
}

.word-info-container .outer-row .slider .owl-dots {
  padding-top: 10px;
  background-color: #915491;
}

.word-info-container .outer-row .slider .owl-dots .owl-dot span {
  background: #c99bb8;
}

.word-info-container .outer-row .slider .owl-dots .active span {
  background: #370e2f;
}

.word-info-container .outer-row .slider .owl-stage-outer {
  padding: 20px;
}

.word-info-container .outer-row .slider .owl-stage-outer .owl-stage .owl-item {
  max-width: 200px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card {
  border-radius: 3px;
  margin: 0px 10px;
  height: 232px;
  overflow: hidden;
  max-width: 222px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap {
  width: auto;
  overflow: hidden;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .img-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body {
  min-height: 20%;
  max-height: 40%;
  line-height: 16px;
  font-size: 15px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: scroll;
}

.word-info-container .outer-row .slider .owl-stage-outer .card .card-body .card-title {
  margin-top: 0px;
  margin-bottom: 2px;
}

/*
$color-purp1: #77ff00; //kat og tekst
$color-purp2: #000000; // hat og navbar og nathimmel
$color-purp3: #75ba86; //lysere navbar?
$color-red1: #081700; //solen
$color-red1-transparent: #fe586396; //??
$color-red2: #223226; // mørk himmel blend
$color-yel1: #FE9055; // ?
$color-yel2: #000000; // Himmelen
*/
:root {
  --color-purp1: #370e2f;
  --color-purp2: #915491;
  --color-purp3: #c99bb8;
  --color-red1: #fe5862;
  --color-red1-transparent: #fe586396;
  --color-red2: #fe916a;
  --color-yel1: #FE9055;
  --color-yel2: #ffd06c;
}

.pdfgenerator {
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  margin-bottom: 0;
}

.pdfgenerator .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px -15px;
}

.pdfgenerator legend {
  width: auto;
}

.pdfgenerator fieldset {
  border-radius: 15px;
  background-color: #fe586396;
  margin: 0% -15px;
  padding: 0% 5%;
}

@media (min-width: 450px) {
  .pdfgenerator fieldset {
    margin: 0% 10%;
  }
}

@media (min-width: 600px) {
  .pdfgenerator fieldset {
    margin: 0% 15%;
  }
}

@media (min-width: 750px) {
  .pdfgenerator fieldset {
    margin: 0% 20%;
  }
}

@media (min-width: 900px) {
  .pdfgenerator fieldset {
    margin: 0% 30%;
  }
}

.pdfgenerator .bgexample {
  height: 0;
  /* top and bottom padding must add up to 100% because they determine the height and makes div be square */
  padding-bottom: 75%;
  padding-top: 25%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100px;
  background-repeat: repeat;
  border-radius: 50%;
  font-size: 20px;
}

.pdfgenerator button {
  border-radius: 15px;
  border: none;
  margin: 15px;
  font-size: larger;
  background-color: #915491;
  color: #370e2f;
  padding: 8px 15px;
}

.pdfgenerator button:hover {
  cursor: pointer;
  background: #fe5862;
}

.pdfgenerator .pdfbtn {
  font-size: x-large;
}

.sorry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
}

.sorry p {
  color: #370e2f;
  font-size: larger;
}
/*# sourceMappingURL=styles.css.map */