// This is the place where all the actual colours are defined

$color-purp1: #370e2f;;
$color-purp2: #915491;;
$color-purp3: #c99bb8;;
$color-red1: #fe5862;
$color-red1-transparent: #fe586396;
$color-red2: #FE766A;
$color-yel1: #FE9055;
$color-yel2: #ffc851;

:root {
--color-purp1: #{$color-purp1};
--color-purp2: #{$color-purp2};
--color-purp3: #{$color-purp3};
--color-red1: #{$color-red1};
--color-red1-transparent: #{$color-red1-transparent};
--color-red2: #{$color-red2};
--color-yel1: #{$color-yel1}; 
--color-yel2: #{$color-yel2};
}


$border-radius-word-info: 3px;

